<div>
    {% if pagination.prev == true %}
    <a href="{{ path_for('product', { 'seourl': pagination.prev}) }}" class="arrow-prev"><span class="fa fa-chevron-left"></span></a>
    {% endif %}
    {% if pagination.next == true %}
    <a href="{{ path_for('product', { 'seourl': pagination.next}) }}" class="arrow-next"><span class="fa fa-chevron-right"></span></a>
    {% endif %}
</div>