<div>

    {% if category == true %}
        {% if pagination.prev != 1 %}
        <a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.prev}) }}" class="arrow-prev"><span class="fa fa-chevron-left"></span></a>
        {% else %}
        <a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}" class="arrow-prev"><span class="fa fa-chevron-left"></span></a>
        {%endif%}

        {% if pagination.next != 1 %}
        <a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.next}) }}" class="arrow-next"><span class="fa fa-chevron-right"></span></a>
        {% else %}
        <a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}" class="arrow-next"><span class="fa fa-chevron-right"></span></a>
        {%endif%}


    {% else %}
        {% if pagination.prev != 1 %}
        <a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'page': pagination.prev}) }}" class="arrow-prev"><span class="fa fa-chevron-left"></span></a>
        {% else %}
        <a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory}) }}" class="arrow-prev"><span class="fa fa-chevron-left"></span></a>
        {%endif%}

        {% if pagination.next != 1 %}
        <a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'page': pagination.next}) }}" class="arrow-next"><span class="fa fa-chevron-right"></span></a>
        {% else %}
        <a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory}) }}" class="arrow-next"><span class="fa fa-chevron-right"></span></a>
        {%endif%}


    {% endif%}




</div>