<div class="row">
    <div class="col-md-6 col-sm-8">
        <div class="page-title">
            <h1 class="title">
                {{breadcrumbtitle}}
            </h1>
        </div>
    </div>
</div>