<div class="row">

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://memorabbit.pl{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory}) }}",
          "name": "{{parentCategory.name}}",
          "image": "https://cdn.memorabbit.pl/i/{{parentCategory.icon}}"
        }
     },
    {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://memorabbit.pl{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}",
          "name": "{{category.name}}",
          "image": "https://cdn.memorabbit.pl/i/{{category.icon}}"
        }
    },
    {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{currenturl}}",
          "name": "{{product.name}}"
        }
    }
  ]
}
</script>

    <div class="col-md-6 col-sm-8">
        <div class="page-title">

            {% if category == true%}
            <img src="https://cdn.memorabbit.pl/i/{{category.icon}}" class="product-ico">
            {% elseif parentCategory == true %}
            <img src="https://cdn.memorabbit.pl/i/{{parentCategory.icon}}" class="product-ico">
            {% endif%}

            <ol class="breadcrumbs">
                <li>import</li>
                <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory}) }}">{{parentCategory.name}}</a></li>
                <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{category.name}}</a></li>
                {% if product == true %}
                <li class="active text-muted">{{product.name}}</li>
                {% endif %}
            </ol>

            <h1 class="title" itemprop="name">
                {% block breadcrumbtitle %}{% endblock %}
                {% if product == true %}
                {{product.name}}
                {% elseif category == true %}
                {{category.name}}
                {% elseif parentCategory == true %}
                {{parentCategory.name}}
                {% endif%}

                {% if product == true %}
                <small>{{product.meta_description }}</small>
                {% elseif category == true %}
                <small>{{category.description|length > 50 ? category.description|slice(0, 50) ~ '...' : category.description}}</small>
                {% elseif parentCategory == true %}
                <small>{{parentCategory.description|length > 50 ? parentCategory.description|slice(0, 50) ~ '...' : parentCategory.description}}</small>
                {% endif%}

            </h1>
        </div>
    </div>
</div>