<div class="row">
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://memorabbit.pl{{ path_for('categoryGlobal', { 'parentCategoryUrl': pagination.parentCategory}) }}",
          "name": "{{parentCategory.name}}",
          "image": "https://cdn.memorabbit.pl/i/{{parentCategory.icon}}"
        }
     }
      {% if category == true%}
         ,{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://memorabbit.pl{{ path_for('category', { 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}",
              "name": "{{category.name}}",
              "image": "https://cdn.memorabbit.pl/i/{{category.icon}}"
            }
        }
    {% endif %}
  ]
}
</script>
    <div class="col-md-6 col-sm-8">
        <div class="page-title">

            {% if category == true%}
            <img src="https://cdn.memorabbit.pl/i/{{category.icon}}" class="product-ico">
            {% elseif parentCategory == true %}
            <img src="https://cdn.memorabbit.pl/i/{{parentCategory.icon}}" class="product-ico">
            {% endif%}

            <ol class="breadcrumbs">
                <li>{{import}}</li>
                <li><a href="{{ path_for('categoryGlobal', { 'parentCategoryUrl': pagination.parentCategory}) }}">{{parentCategory.name}}</a></li>
                {% if category == true%}
                <li><a href="{{ path_for('category', { 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{category.name}}</a></li>
                {% endif%}
                {% if product == true %}
                <li class="active text-muted">{{product.name}}</li>
                {% endif %}
            </ol>

            <h1 class="title">
                {% block breadcrumbtitle %}{% endblock %}
                {% if product == true %}
                {{product.name}}
                {% elseif category == true %}
                {{category.h1}}
                {% elseif parentCategory == true %}
                {{parentCategory.h1}}
                {% endif%}

                {% if product == true %}
                <h2><small style="text-transform: none">{{product.meta_description }}</small></h2>
                {% elseif category == true %}
                <h2><small style="text-transform: none">{{category.h2}}</small></h2>
                {% elseif parentCategory == true %}
                <h2><small style="text-transform: none">{{parentCategory.h2}}</small></h2>
                {% endif%}

            </h1>
        </div>
    </div>
</div>