
<nav>
    <ul class="products-categories">
        {% for category in categories %}
        <li class="{% if category.active == true %}active{% endif %}">
            <a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': category.name_url}) }}">
                <img src="https://cdn.memorabbit.pl/i/{{category.icon}}">
                <h3>{{category.name}}</h3>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>