{% extends "layout.phtml" %}
{% block title %}Konfigurator krok 3{% endblock %}
{% block content %}
{{ include('breadcrumbs.phtml') }}
{{ include('configurator-element.phtml') }}

    <div class="row configurator2">
        <div class="col-sm-6">
            <h2>Wyślij zapytanie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore autem harum consequatur a, qui dignissimos, dolorum sequi asperiores laudantium at. Ratione officia aut nam similique eligendi porro, velit sequi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, esse.</p>
            <br />
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 col-md-3 control-label">Nazwa firmy</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="wpisz nazwę">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 col-md-3 control-label">Imię i nazwisko</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="wpisz imię i nazwisko">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 col-md-3 control-label">Mail</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="wpisz mail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 col-md-3 control-label">Telefon</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="wpisz telefon">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 col-md-3 control-label">Uwagi</label>
                    <div class="col-sm-8 col-md-9">
                        <textarea rows="5" class="form-control" id="inputPassword3" placeholder="wpisz uwagi"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-md-9 col-sm-offset-4 col-md-offset-3">
                        <div class="checkbox">
                            <input id="check1" name="check1" type="checkbox" checked />
                            <label for="check1">Dodatkowa opcja</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-md-9 col-sm-offset-4 col-md-offset-3">
                        <div class="radio">
                            <input type="radio" name="radio1" id="radio1" value="option1" checked>
                            <label for="radio1">
                                Opcja do wyboru
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="radio1" id="radio2" value="option2">
                            <label for="radio2">
                                Albo inna opcja
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="radio1" id="radio3" value="option2" disabled>
                            <label for="radio3">
                                Brak opcji
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-md-9 col-sm-offset-4 col-md-offset-3">
                        <button type="submit" class="btn btn-default">Wyślij zapytanie</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5 col-sm-offset-1 margin-xs">
            <h2>SZYBKIE PODSUMOWANIE</h2>
            <br>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="http://igk.com.pl/dev/memorabbit/nowa.html#tab1" aria-controls="tab1" role="tab" data-toggle="tab">1</a></li>
                <li role="presentation"><a href="http://igk.com.pl/dev/memorabbit/nowa.html#tab2" aria-controls="tab2" role="tab" data-toggle="tab">2</a></li>
                <li role="presentation"><a href="http://igk.com.pl/dev/memorabbit/nowa.html#tab3" aria-controls="tab3" role="tab" data-toggle="tab">3</a></li>
                <li role="presentation"><a href="http://igk.com.pl/dev/memorabbit/nowa.html#tab4" aria-controls="tab4" role="tab" data-toggle="tab">4</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <div class="summary-box">
                        <h3>Nazwa produktu</h3>
                        <h4><span class="color" style="background: #CD3449;"></span> Kolor podstawowy</h4>
                        <h4><span class="color" style="background: #F46DF7;"></span> Kolor dopełniający</h4>
                        <h4>Pojemność<br><span>4 TB</span></h4>
                        <h4>Znakowanie<br><span>Laser dwustronnie</span></h4>
                        <h4>Opakowanie<br><span>niebieskie</span></h4>
                        <h4>Akcesoria dodatkowe<br><span>smycz niebieska</span></h4>
                        <h4>Liczba<br><span>1000</span></h4>
                        <br>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">222</div>
                <div role="tabpanel" class="tab-pane" id="tab3">333</div>
                <div role="tabpanel" class="tab-pane" id="tab4">444</div>
            </div>

            <div class="text-muted small margin">
                <p>W opisach produktów mogą wystapić błędy</p>
                <p>Suspendisse id arcu orci. Morbi non blandit ante. Nunc id tortor quis orci maximus eleifend eget vel urna. Duis augue risus, ultricies vehicula ligula eu, convallis finibus libero. Nulla sollicitudin nulla magna, vel dignissim est tempor eu. Mauris gravida a eros eu porttitor. Vestibulum malesuada rutrum felis, eu tristique eros suscipit non.</p>
                <p>
                    <a href="#"><img src="./images/tmp-complience1.png" alt="" /></a>
                    <a href="#"><img src="./images/tmp-complience2.png" alt="" /></a>
                    <a href="#"><img src="./images/tmp-complience3.png" alt="" /></a>
                    <a href="#"><img src="./images/tmp-complience4.png" alt="" /></a>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center margin">
        <a href="#" class="btn btn-purple btn-lg">Wyślij zapytanie</a>
    </div>
{% endblock %}