{% extends "layout.phtml" %}
{% block title %}Konfigurator krok 1{% endblock %}
{% block content %}
{{ include('breadcrumbs.phtml') }}
{{ include('arrows-products.phtml') }}
{{ include('configurator-element.phtml') }}
{{ include('categories-nav.phtml') }}
{{ include('products.phtml') }}
{% endblock %}
