<div class="row-fluid">
    <ul class="steps">
        <li class="{% if configuratorStep == 1 %}active{% endif %}">
            <a href="#">
                <h2>Krok 1 - wybór</h2>
                <p>Wybierz typ nośnika</p>
            </a>
        </li>
        <li class="{% if configuratorStep == 2 %}active{% endif %}">
            <a href="#">
                <h2>Krok 2 - personalizacja</h2>
                <p>Skonfiguruj swój nośnik</p>
            </a>
        </li>
        <li class="{% if configuratorStep == 3 %}active{% endif %}">
            <a href="#">
                <h2>Krok 3 - podsumowanie</h2>
                <p>Wyślij zapytanie</p>
            </a>
        </li>
    </ul>
</div>