{% extends "layout.phtml" %}
{% block title %}Konfigurator krok 2{% endblock %}
{% block content %}
{{ include('breadcrumbs.phtml') }}
{{ include('configurator-element.phtml') }}

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="product-image">
                    <img src="https://cdn.memorabbit.pl/i/tmp-produkt-baza.png" class="img-responsive product-base">
                    <img src="https://cdn.memorabbit.pl/i/tmp-produkt-kolor1.png" class="img-responsive product-color1">
                    <img src="https://cdn.memorabbit.pl/i/tmp-produkt-tekst1.png" class="img-responsive product-color2">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Kolor podstawowy</h4>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Czerwony" class="btn btn-color" style="background-color: crimson; border-color: crimson" product-color1="https://cdn.memorabbit.pl/i/tmp-produkt-kolor1.png"></span>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Żółty" class="btn btn-color" style="background-color: yellow; border-color: yellow" product-color1="https://cdn.memorabbit.pl/i/tmp-produkt-kolor2.png"></span>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Szary" class="btn btn-color" style="background-color: silver; border-color: silver" product-color1="https://cdn.memorabbit.pl/i/tmp-produkt-kolor3.png"></span>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Zielony" class="btn btn-color active" style="background-color: lime; border-color: lime" product-color1="https://cdn.memorabbit.pl/i/tmp-produkt-kolor4.png"></span>

                    </div>
                    <div class="col-xs-6">
                        <h4>Kolor dopełniający</h4>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Czerwony" class="btn btn-color" style="background-color: crimson; border-color: crimson" product-color2="https://cdn.memorabbit.pl/i/tmp-produkt-tekst1.png"></span>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Żółty" class="btn btn-color" style="background-color: yellow; border-color: yellow" product-color2="https://cdn.memorabbit.pl/i/tmp-produkt-tekst2.png"></span>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Srebrny" class="btn btn-color" style="background-color: silver; border-color: silver" product-color2="https://cdn.memorabbit.pl/i/tmp-produkt-tekst3.png"></span>
                        <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Zielony" class="btn btn-color active" style="background-color: lime; border-color: lime" product-color2="https://cdn.memorabbit.pl/i/tmp-produkt-tekst4.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1 product-details margin-xs">
        <h2>Nazwa modelu</h2>
        <br>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab222" aria-controls="tab222" role="tab" data-toggle="tab">Szczegóły</a></li>
                <li role="presentation"><a href="#tab111" aria-controls="tab111" role="tab" data-toggle="tab">Opis</a></li>
                <li role="presentation"><a href="#tab333" aria-controls="tab333" role="tab" data-toggle="tab">Dane techniczne</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab222">
                    <table class="product-info">
                        <tr>
                            <td>
                                <img src="https://cdn.memorabbit.pl/i/categories9.png" />
                                <h4>WYMIAR<br /><small>{{product.length}} x {{product.width}} x {{product.height}} mm</small></h4>
                            </td>
                            <td>
                                <img src="https://cdn.memorabbit.pl/i/categories6.png" />
                                <h4>POLE ZADRUKU<br /><small>{{product.length}} x {{product.length}} mm</small></h4>
                            </td>
                            <td>
                                <img src="https://cdn.memorabbit.pl/i/{{product.material.icon}}" />
                                <h4>MATERIAŁ<br /><small>{{product.material.name}}</small></h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://cdn.memorabbit.pl/i/categories9.png" />
                                <h4>DOSTAWA <br/><small>do 5 dni roboczych</small></h4>
                            </td>
                            <td>
                                <img src="https://cdn.memorabbit.pl/i/categories4.png" />
                                <h4>Dobra cena</h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab111">
                    <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Illo eum perspiciatis similique, est voluptatem tempora minima quisquam necessitatibus recusandae aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p></strong> dolor sit amet, consectetur adipisicing elit. Illo eum perspiciatis similique, est voluptatem tempora minima quisquam necessitatibus recusandae aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab333">
                    <table class="table">
                        <tr>
                            <td class="col-xs-6">
                                <p><strong>Pojemnosć</strong></p>
                            </td>
                            <td class="col-xs-6">
                                <p>1000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Rozmiar</strong></p>
                            </td>
                            <td>
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wersja</strong></p>
                            </td>
                            <td>
                                <p>Jasna</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Pojemnosć</strong></p>
                            </td>
                            <td>
                                <p>1000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Rozmiar</strong></p>
                            </td>
                            <td>
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wersja</strong></p>
                            </td>
                            <td>
                                <p>Jasna</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Pojemnosć</strong></p>
                            </td>
                            <td>
                                <p>1000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Rozmiar</strong></p>
                            </td>
                            <td>
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wersja</strong></p>
                            </td>
                            <td>
                                <p>Jasna</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Rozmiar</strong></p>
                            </td>
                            <td>
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wersja</strong></p>
                            </td>
                            <td>
                                <p>Jasna</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row configurator2">
    <div class="col-sm-6 margin-xs">
        <h2>Właściwości</h2>
        <h4><span>1/7</span> POjemność</h4>
        <a href="#" class="btn btn-orange">1 TB</a>
        <a href="#" class="btn btn-orange">2 TB</a>
        <a href="#" class="btn btn-orange active">4 TB</a>
        <a href="#" class="btn btn-orange">8 TB</a>
        <a href="#" class="btn btn-orange">16 TB</a>

        <h4><span>2/7</span> Znakowanie przód</h4>
        <a href="#" class="btn btn-orange">LASER</a>
        <a href="#" class="btn btn-orange active">NADRUK</a>
        <a href="#" class="btn btn-orange">BRAK</a>

        <h4><span>3/7</span> Znakowanie tył</h4>
        <a href="#" class="btn btn-orange active">LASER</a>
        <a href="#" class="btn btn-orange">NADRUK</a>
        <a href="#" class="btn btn-orange">BRAK</a>

        <h4><span>4/7</span> Opakowanie</h4>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>

        <h4><span>5/7</span> Akcesoria dodatkowe</h4>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>
        <div class="thumbnail_container accessories">
            <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='./images/tmp-accessory.jpg' />Kabel USB 20 cm">
                <img src="./images/tmp-accessory.jpg" alt="Accessory">
            </div>
        </div>

        <h4><span>6/7</span> Liczba</h4>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-0">
                <div class="slider" id="slider-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-0">
                <div class="slider" id="slider-2"></div>
            </div>
        </div>

        <h4><span>7/7</span> Wgranie danych</h4>
        <div class="checkbox">
            <input id="check_zabezpieczenie" name="check_zabezpieczenie" type="checkbox" checked />
            <label for="check_zabezpieczenie">Z zabezpieczeniem</label>
        </div>
        <a href="#" class="btn btn-orange">1 TB</a>
        <a href="#" class="btn btn-orange">2 TB</a>
        <a href="#" class="btn btn-orange active">4 TB</a>
        <a href="#" class="btn btn-orange">8 TB</a>
        <a href="#" class="btn btn-orange">16 TB</a>
    </div>
    <div class="col-sm-5 col-sm-offset-1 margin-xs">
        <h2>Szybkie podsumowanie</h2>
        <br>
        <div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <div class="summary-box">
                        <h3>Nazwa produktu</h3>
                        <h4><span class="color" style="background: #CD3449;"></span> Kolor podstawowy</h4>
                        <h4><span class="color" style="background: #F46DF7;"></span> Kolor dopełniający</h4>
                        <h4>Pojemność<br><span>4 TB</span></h4>
                        <h4>Znakowanie<br><span>Laser dwustronnie</span></h4>
                        <h4>Opakowanie<br><span>niebieskie</span></h4>
                        <h4>Akcesoria dodatkowe<br><span>smycz niebieska</span></h4>
                        <h4>Liczba<br><span>1000</span></h4>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-muted small margin">
            <p>W opisach produktów mogą wystapić błędy</p>
            <p>Suspendisse id arcu orci. Morbi non blandit ante. Nunc id tortor quis orci maximus eleifend eget vel urna. Duis augue risus, ultricies vehicula ligula eu, convallis finibus libero. Nulla sollicitudin nulla magna, vel dignissim est tempor eu. Mauris gravida a eros eu porttitor. Vestibulum malesuada rutrum felis, eu tristique eros suscipit non.</p>
            <p>
                <a href="#"><img src="./images/tmp-complience1.png" alt="" /></a>
                <a href="#"><img src="./images/tmp-complience2.png" alt="" /></a>
                <a href="#"><img src="./images/tmp-complience3.png" alt="" /></a>
                <a href="#"><img src="./images/tmp-complience4.png" alt="" /></a>
            </p>
        </div>
    </div>
</div>
<div class="text-center margin">
    <a href="#" class="btn btn-purple btn-lg">Wyślij zapytanie</a>
    <a href="#" class="btn btn-purple">Dodaj do zamówienia<small>i kontynuuj zakupy</small></a>
</div>

<script>
    var handlesSlider2 = document.getElementById('slider-2');
    noUiSlider.create(handlesSlider2, {
        start: [ 148, 436 ],
        range: {
            'min': [  0 ],
            'max': [ 600 ]
        },
        connect: true,
        pips: {
            mode: 'values',
            values: [0, 100, 200, 300, 400, 500, 600],
            density: 100
        }
    });
    handlesSlider2.noUiSlider.on('update', function( values, handle ) {
        $('#slider-2').find('.noUi-handle-lower').html('<span>'+values[0].slice(0,-3)+'</span>');
        $('#slider-2').find('.noUi-handle-upper').html('<span>'+values[1].slice(0,-3)+'</span>');
    });

    var handlesSlider4 = document.getElementById('slider-4');
    noUiSlider.create(handlesSlider4, {
        start: 0,
        range: {
            'min': 0,
            'max': 1000
        },
        step: 1,
        connect: 'lower',
        pips: {
            mode: 'values',
            values: [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
            density: 100
        }
    });
    handlesSlider4.noUiSlider.on('update', function( values, handle ) {
        $('#slider-4').find('.noUi-handle-lower').html('<span>'+values[0].slice(0,-3)+'</span>');
    });
</script>
{% endblock %}