{% extends "layout.phtml" %}
{% block title %}Kontakt dziękujemy za wiadomość{% endblock %}
{% block content %}
{{ include('breadcrumbspage.phtml') }}

    <hr class="hr_sep color2">

    <div class="row">
        <div class="col-sm-6">
            <h2>Formularz kontaktowy</h2>
            <div classname="row">
                <div classname="col-xs-12 col-sm-6">
                    <p>Dziękujemy za wiadomość. Odpowiemy w możliwie najszybszym terminie.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <h2>Ogólne zapytania</h2>

            <div className="row">
                <div className="col-xs-12 col-sm-6">
                    <p><span class="fa fa-user fa-inline"></span> Biuro Obsługi Klienta</p>
                    <p><span class="fa fa-phone fa-inline"></span> 512 02 90 04</p>
                    <p><span class="fa fa-phone fa-inline"></span> 22 760 48 96</p>
                    <p><span class="fa fa-envelope fa-inline"></span> <a href="mailto:">biuro@memorabbit.pl</a></p>
                    <p>&nbsp;</p>
                </div>


            </div>
        </div>
        <div class="col-xs-12">
            <h2>Lokalizacja</h2>
            <iframe class="map" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;geocode=&amp;q=ul. Kolejowa 65, Zielonka&amp;aq=0&amp;oq=time&amp;sll=52.3036369,21.158614&amp;sspn=52.3036369,21.158614&amp;ie=UTF8&amp;hq
			 =ul. Kolejowa 65 Zielonka &amp;t=m&amp;ll=52.3036369,21.158614&amp;spn=0.016904,0.032015
			 &amp;output=embed" width="100%" height="350" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>
    </div>

<!-- Google Code for Kontakt po CPC Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1013245333;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "rhlJCJe-inAQlcuT4wM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1013245333/?label=rhlJCJe-inAQlcuT4wM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

{{ include('newsletter.phtml') }}
{% endblock %}


{% block criticalpath %}
<style>
    .fa-fw {
        text-align: center;
        width: 1.28571429em;
    }

    .fa,
    .fa-stack {
        display: inline-block;
    }

    .fa {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 6px;
    }

    .btn {
        -webkit-user-select: none;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 4px;
        text-transform: uppercase;
    }

    html {
        -webkit-tap-highlight-color: transparent;
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 10px;
    }

    .fa {
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: 6px;
    }

    .form-control {
        font-style: italic;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    .fa-lg {
        font-size: 1.33333333em;
        line-height: 0.75em;
        vertical-align: -15%;
        line-height: .75em;
    }

    .fa-stack,
    img {
        vertical-align: middle;
    }

    .fa-fw {
        width: 1.28571429em;
    }

    hr,
    img {
        border: 0px;
        border: 0;
    }

    body {
        margin: 0px;
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizeLegibility;
    }

    .fa-stack {
        position: relative;
        width: 2em;
        height: 2em;
        line-height: 2em;
    }

    .fa-stack-1x {
        position: absolute;
        left: 0px;
        width: 100%;
        text-align: center;
        line-height: inherit;
    }

    .fa-stack-1x {
        line-height: inherit;
    }

    .fa-search::before {
        content: ;
    }

    .fa-user::before {
        content: ;
    }

    .fa-chevron-up::before {
        content: ;
    }

    .fa-shopping-cart::before {
        content: ;
    }

    .fa-sign-in::before {
        content: ;
    }

    .fa-phone::before {
        content: ;
    }

    .fa-twitter::before {
        content: ;
    }

    .fa-facebook::before {
        content: ;
    }

    .fa-envelope::before {
        content: ;
    }

    .fa-circle::before {
        content: ;
    }

    .fa-instagram::before {
        content: ;
    }

    html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 10px;
    }

    header,
    nav,
    section {
        display: block;
    }

    a {
        background-color: transparent;
        text-decoration: none;
    }

    b {
        font-weight: 700;
    }

    hr {
        height: 0px;
        box-sizing: content-box;
        height: 0;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 1px solid #eee;
    }

    textarea {
        overflow: auto;
    }

    button,
    input,
    select,
    textarea {
        margin: 0px;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-variant: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
    }

    button {
        overflow: visible;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    .form-control {
        -webkit-appearance: none;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0px;
    }

    @media print {
        img {
            page-break-inside: avoid;
            max-width: 100%!important;
        }

        * {
            color: rgb(0, 0, 0) !important;
            text-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            background-position: 0px 0px !important;
            background-repeat: initial initial !important;
        }

        a {
            text-decoration: underline;
        }

        a[href]::after {
            content: ' (', attr(href), ')';
        }

        a[href^="#"]::after {
            content: '';
        }

        img {
            max-width: 100% !important;
            max-width: 100%!important;
        }

        h2,
        h3,
        p {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }

        .navbar {
            display: none;
        }
    }

    .btn,
    .form-control,
    .navbar-toggle {
        background-image: none;
    }

    body {
        background-color: rgb(255, 255, 255);
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizeLegibility;
    }

    * {
        box-sizing: border-box;
        border-radius: 0!important;
    }

    html {
        font-size: 10px;
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizeLegibility;
    }

    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        text-decoration: none;
        background-color: transparent;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(238, 238, 238);
        height: 0;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border-top: 1px solid #eee;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0px;
        margin: -1px;
        overflow: hidden;
        clip: rect(0px 0px 0px 0px);
        border: 0px;
        padding: 0;
        clip: rect(0,0,0,0);
        border: 0;
    }

    textarea.form-control {
        height: auto;
    }

    h1,
    h2,
    h3 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    h1,
    h2,
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 36px;
        margin: 20px 0;
    }

    h2 {
        font-size: 30px;
        margin-top: 10px;
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
        font-size: 16px;
    }

    p {
        margin: 0px 0px 10px;
        margin: 0 0 10px;
    }

    ul {
        margin-top: 0px;
    }

    ul {
        margin-bottom: 10px;
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    .container::after,
    .nav::after,
    .navbar-collapse::after,
    .navbar-header::after,
    .navbar::after,
    .row::after {
        clear: both;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-12,
    .col-md-6,
    .col-sm-12,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-8,
    .col-xs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-12 {
        float: left;
        width: 100%;
    }

    .col-xs-12 {
        width: 100%;
    }

    @media (min-width: 768px) {
        .col-sm-12,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-8 {
            float: left;
        }

        .col-sm-12 {
            width: 100%;
        }

        .col-sm-8 {
            width: 66.66666667%;
        }

        .col-sm-6 {
            width: 50%;
        }

        .col-sm-5 {
            width: 41.66666667%;
        }

        .col-sm-4 {
            width: 33.33333333%;
        }

        .col-sm-offset-1 {
            margin-left: 8.33333333%;
        }
    }

    @media (min-width: 992px) {
        .col-md-12,
        .col-md-6 {
            float: left;
        }

        .col-md-12 {
            width: 100%;
        }

        .col-md-6 {
            width: 50%;
        }
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 400;
    }

    input[type="checkbox"] {
        margin: 4px 0px 0px;
        line-height: normal;
    }

    .form-control {
        line-height: 1.42857143;
        display: block;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    .form-control {
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .checkbox {
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
    }

    .checkbox label {
        min-height: 20px;
        margin-bottom: 0px;
        font-weight: 400;
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }

    .checkbox input[type="checkbox"] {
        position: absolute;
        margin-left: -20px;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-bottom: 0;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        user-select: none;
        border-radius: 4px;
        text-transform: uppercase;
    }

    .collapse {
        display: none;
    }

    .nav > li,
    .nav > li > a {
        display: block;
        position: relative;
    }

    .nav {
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .nav > li > a {
        padding: 10px 15px;
    }

    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: transparent;
        -webkit-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset;
        box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

    @media (min-width: 768px) {
        .navbar {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .navbar-header {
            float: left;
        }

        .navbar-collapse {
            width: auto;
            border-top-width: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .navbar-collapse.collapse {
            padding-bottom: 0px;
            display: block !important;
            height: auto !important;
            overflow: visible !important;
        }
    }

    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }

    .navbar-brand {
        float: left;
        padding: 15px;
        font-size: 18px;
        line-height: 20px;
        height: auto;
    }

    .navbar-brand > img {
        display: block;
    }

    @media (min-width: 768px) {
        .container > .navbar-collapse,
        .container > .navbar-header {
            margin-right: 0px;
            margin-left: 0px;
        }

        .navbar > .container .navbar-brand {
            margin-left: -15px;
        }
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        border: 1px solid transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-radius: 4px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;
        border-radius: 1px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    .navbar-nav {
        margin: 7.5px -15px;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

    @media (min-width: 768px) {
        .navbar-toggle {
            display: none;
        }

        .navbar-nav {
            float: left;
            margin: 0px;
        }

        .navbar-nav > li {
            float: left;
        }

        .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    @media (min-width: 768px) {
        .navbar-right {
            margin-right: -15px;
            float: right !important;
        }
    }

    .navbar-default {
        background-color: rgb(248, 248, 248);
        border-color: rgb(231, 231, 231);
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }

    .navbar-default .navbar-brand {
        color: rgb(119, 119, 119);
        color: #777;
    }

    .navbar-default .navbar-nav > li > a {
        color: rgb(119, 119, 119);
    }

    .navbar-default .navbar-nav > .active > a {
        color: rgb(85, 85, 85);
        background-color: rgb(231, 231, 231);
    }

    .navbar-default .navbar-toggle {
        border-color: rgb(221, 221, 221);
        border-color: #ddd;
    }

    .navbar-default .navbar-collapse {
        border-color: rgb(231, 231, 231);
    }

    .container::after,
    .container::before,
    .nav::after,
    .nav::before,
    .navbar-collapse::after,
    .navbar-collapse::before,
    .navbar-header::after,
    .navbar-header::before,
    .navbar::after,
    .navbar::before,
    .row::after,
    .row::before {
        display: table;
        content: ' ';
    }

    .pull-right {
        float: right !important;
        float: right!important;
    }

    .visible-xs {
        display: none !important;
    }

    @media (max-width: 767px) {
        .visible-xs {
            display: block !important;
        }
    }

    @media (max-width: 767px) {
        .hidden-xs {
            display: none !important;
        }
    }

    .checkbox label,
    .cookies-info p {
        vertical-align: middle;
    }

    b,
    h1,
    h2,
    h3 {
        color: rgb(46, 45, 115);
    }

    a {
        color: rgb(147, 111, 233);
        background-color: transparent;
        text-decoration: none;
    }

    .row {
        position: relative;
        margin-right: -15px;
        margin-left: -15px;
    }

    * {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-radius: 0!important;
    }

    body,
    html {
        overflow-x: hidden;
    }

    body {
        color: rgb(68, 68, 68);
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizelegibility;
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        text-rendering: optimizeLegibility;
    }

    .btn,
    h1,
    h2,
    h3 {
        font-weight: 700;
    }

    h1,
    h2,
    h3 {
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
    }

    h1 {
        margin: 20px 0px;
        margin: 20px 0;
    }

    h2 {
        margin-top: 10px;
        font-size: 24px;
    }

    #menu.navbar-default .navbar-big > li > a,
    .color2,
    .sub-menu h3 {
        font-family: 'Roboto Slab', serif;
    }

    h3 {
        font-size: 16px;
    }

    .color2 {
        color: rgb(147, 111, 233);
        color: #936fe9;
    }

    #menu li > a > span,
    a,
    button,
    input {
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

    .btn {
        text-transform: uppercase;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-default {
        background-color: rgb(46, 45, 115);
        border-color: rgb(46, 45, 115);
        color: rgb(255, 255, 255);
        line-height: 18px;
        background-color: #2e2d73;
        border-color: #2e2d73;
        color: #fff;
    }

    #menu.navbar-default,
    .nav > li > a {
        text-transform: uppercase;
    }

    .img-responsive {
        margin: 0px auto;
        margin: 0 auto;
    }

    .nav > li > a {
        color: rgb(51, 51, 102);
    }

    .navbar-brand {
        height: auto;
        float: left;
        padding: 15px;
        font-size: 18px;
        line-height: 20px;
    }

    @media (min-width: 768px) {
        .navbar-brand {
            padding: 30px 15px 0px;
        }
    }

    #menu.navbar,
    .sub-menu {
        margin-bottom: 30px;
    }

    #menu.navbar-default {
        background-color: rgb(255, 255, 255);
        border: none;
        background-color: #fff;
    }

    .navbar-header {
        position: absolute;
    }

    #menu.navbar-default .navbar-nav > li > a {
        color: rgb(46, 45, 115);
        cursor: pointer;
    }

    #menu.navbar-default .navbar-nav > .active > a {
        background-color: inherit;
        color: rgb(147, 111, 233);
    }

    #menu.navbar-default .navbar-nav > li {
        padding: 5px;
    }

    #menu.navbar-default .navbar-nav > li:last-of-type {
        padding-right: 0px;
    }

    #menu.navbar-default .navbar-nav > li > a {
        font-weight: 400;
        margin-top: 5px;
        font-size: 14px;
        padding: 5px 2px;
        display: inline-block;
    }

    @media (max-width: 767px) {
        #menu.navbar-default .navbar-nav > li {
            padding-left: 15px;
        }
    }

    #menu.navbar-default .navbar-big > li > a {
        font-weight: 700;
    }

    .sub-menu a {
        color: rgb(46, 45, 115);
        color: #2e2d73;
    }

    .sub-menu h3 {
        font-weight: 700;
        color: rgb(46, 45, 115);
        font-size: 14px;
        margin: 0px;
        padding: 15px 0px;
        color: #2e2d73;
        margin: 0;
        padding: 15px 0;
    }

    .sub-menu ul {
        -webkit-column-count: 2;
        -webkit-column-gap: 15px;
        padding: 0px;
        list-style: none;
        line-height: 24px;
        -moz-column-count: 2;
        -moz-column-gap: 15px;
        column-count: 2;
        column-gap: 15px;
        padding: 0;
    }

    .sub-menu .row .col-sm-4:nth-child(1) h3 {
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: rgb(251, 183, 84);
        border-top: 4px solid #fbb754;
    }

    .sub-menu .row .col-sm-4:nth-child(2) h3 {
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: rgb(47, 168, 237);
        border-top: 4px solid #2fa8ed;
    }

    .sub-menu .row .col-sm-4:nth-child(3) h3 {
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: rgb(8, 178, 127);
        border-top: 4px solid #08b27f;
    }

    .title {
        font-weight: 700;
        text-transform: uppercase;
        margin: 5px 0;
        font-size: 24px;
        font-family: "Roboto Slab";
    }

    .page-title {
        margin: 10px 0px;
        margin: 10px 0;
    }

    .title {
        margin: 5px 0px;
        font-size: 24px;
        font-family: 'Roboto Slab';
        margin: 5px 0;
        font-family: "Roboto Slab";
    }

    .map {
        margin-bottom: 20px;
    }

    #newsletter input {
        border: 3px solid rgb(147, 111, 233);
        padding: 15px;
        border: 3px solid #936fe9;
    }

    .cookies-info {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: rgb(133, 114, 180);
        color: rgb(255, 255, 255);
        z-index: 9999;
        padding: 15px 0px;
        bottom: 0;
        background-color: #8572B4;
        color: #fff;
        padding: 15px 0;
    }

    .cookies-info .btn-default {
        padding: 10px 20px 8px;
        font-size: 12px;
        line-height: 12px;
        margin-left: 20px;
        border: 3px solid rgb(255, 255, 255);
        border: 3px solid #fff;
    }

    .cookies-info img {
        margin-right: 20px;
    }

    .cookies-info p {
        height: 74px;
        display: table-cell;
    }

    .navbar-brand > img {
        position: relative;
        z-index: 9;
        height: 95px;
    }

    .form-control {
        box-shadow: none;
        border-color: rgb(61, 52, 128);
        font-size: 11px;
        color: rgb(61, 52, 128);
        height: 28px;
        padding: 6px 8px 4px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        border-color: #3d3480;
        color: #3d3480;
    }

    select.form-control {
        background-image: url(https://cdn.memorabbit.pl/i/drop.png);
        background-color: rgb(255, 255, 255);
        padding: 6px 25px 4px 6px;
        background-position: 100% 50%;
        background-repeat: no-repeat no-repeat;
        background: url(https://cdn.memorabbit.pl/i/drop.png) right center no-repeat #fff;
    }

    label {
        font-weight: 400;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
    }

    .search-form {
        width: 150px;
        position: relative;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: -15px;
    }

    .search-form input {
        padding-right: 25px;
    }

    .search-form::after {
        font-family: FontAwesome;
        content: ;
        position: absolute;
        color: rgb(147, 111, 233);
        right: 5px;
        top: 4px;
    }

    @media (max-width: 991px) {
        .cookies-info img {
            display: none;
        }

        #menu.navbar-default .navbar-brand img {
            max-width: 145px;
            height: auto;
        }

        .cookies-info {
            padding: 0px;
            font-size: 12px;
            line-height: 21px;
        }
    }

    @media (max-width: 767px) {
        .navbar-header {
            position: relative;
        }

        #menu.navbar-default .navbar-brand img {
            max-width: 200px;
        }

        #menu.navbar-default .navbar-nav > li > a {
            margin-top: 0px;
        }

        h3 {
            font-weight: 700;
            font-size: 14px;
        }

        .page-title {
            margin: 0px;
        }

        .title {
            font-size: 20px;
        }

        .sub-menu {
            margin-top: -10px;
            margin-bottom: 40px;
        }

        .cookies-info {
            padding-bottom: 10px;
        }

        .cookies-info .btn-default {
            width: 100%;
            margin: 10px 0px;
            float: none !important;
        }

        .mobile-icons {
            position: absolute;
            right: 80px;
            top: 54px;
        }

        .mobile-icons a {
            width: 35px;
            display: inline-block;
            text-align: center;
        }
    }

    .mobile-search {
        height: 50px;
        padding: 0px 15px 30px;
        left: 0px;
        right: 0px;
        display: none;
        width: 100;
        padding: 0 15px 30px;
        left: 0;
        right: 0;
    }

    .mobile-search .search-form {
        width: 100%;
        margin: 0px;
        top: 0px;
        margin: 0;
        top: 0;
    }

    @media (min-width: 768px) {
        .mobile-search {
            display: none !important;
        }
    }

    .hr_sep {
        border-top-width: 3px;
        border-top-style: solid;
        border-top-color: rgb(147, 111, 233);
        border-top: 3px solid #936fe9;
    }

    .scroll-top {
        background-color: rgb(147, 111, 233);
        position: fixed;
        bottom: 30px;
        right: 30px;
        border: 3px solid rgb(46, 45, 115);
        height: 34px;
        width: 34px;
        line-height: 30px;
        text-align: center;
        font-size: 1.5em;
        z-index: 1000;
        cursor: pointer;
        display: none;
        background-color: #936fe9;
        border: 3px solid #2e2d73;
    }

    .scroll-top a {
        color: rgb(255, 255, 255);
    }

    .fa {
        margin-right: 6px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .fa-inline {
        color: rgb(147, 111, 233);
        color: #936fe9;
    }

    .fa-inline.fa-stack {
        width: 1em;
        height: 1em;
        line-height: 1em;
    }

    .fa-inlinetext {
        color: rgb(255, 255, 255);
        font-size: 10px;
        font-weight: 700;
        color: #fff;
    }

    .checkbox {
        padding-left: 20px;
    }

    .checkbox label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }

    .checkbox label::after,
    .checkbox label::before {
        position: absolute;
        left: 0px;
        display: inline-block;
        margin-left: -20px;
        left: 0;
    }

    .checkbox label::before {
        content: '';
        width: 17px;
        height: 17px;
        border: 1px solid rgb(46, 45, 115);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: rgb(255, 255, 255);
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        content: "";
        border: 1px solid #2e2d73;
        border-radius: 0;
        background-color: #fff;
        -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
        -o-transition: border .15s ease-in-out,color .15s ease-in-out;
        transition: border .15s ease-in-out,color .15s ease-in-out;
    }

    .checkbox label::after {
        width: 16px;
        height: 16px;
        top: 0px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: rgb(147, 111, 233);
        top: 0;
        color: #936fe9;
    }

    .checkbox input[type="checkbox"] {
        opacity: 0;
        z-index: 1;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: rgb(147, 111, 233);
        background-color: #936fe9;
    }

    #menu.navbar-default .navbar-toggle {
        border: 3px solid rgb(147, 111, 233);
        margin-top: 45px;
        border: 3px solid #936fe9;
    }

    .mobile-icons {
        position: absolute;
        right: 80px;
        top: 54px;
    }

    @media (max-width: 480px) {
        .navbar-default .navbar-brand {
            width: 100%;
        }

        #menu.navbar-default .navbar-toggle {
            margin-top: 0px;
        }

        .mobile-icons {
            left: 15px;
            top: 104px;
        }
    }

    @media (max-width: 767px) {
        #menu.navbar {
            margin-bottom: 5px;
        }
    }
</style>
{% endblock %}