<footer class="" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-5">
                <p><img class="img-responsive logo" src="https://cdn.memorabbit.pl/i/logo1.svg" alt="Logo memorabbit" /></p>
                <p><small>Sprawdzony importer pendrive reklamowe. Szeroka oferta produktów po atrakcyjnych cenach z nadrukiem bądź grawerem logo firmy gratis! Przenośne pamięci usb na oryginalnych podzespołach największych producentów pamięci flash na świecie.</small></p>
               <!-- <h3 class="color2"><span class="fa fa-exclamation-circle fa-inline"></span>Naszym klientom dostarczyliśmy już:</h3>
                <div class="counter">
                    <span>1</span>
                    <span>1</span>
                    <span>2</span>
                    <span>9</span>
                    <span>7</span>
                    <span>0</span>
                    <span>1</span>
                </div> -->
                <p class="counter-desc hidden-sm hidden-xs"><small><!-- Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit --></small></p>
                <p>
                   <!-- <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-card.png" /></a>
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-card.png" /></a>
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-card.png" /></a>
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-card.png" /></a>
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-card.png" /></a> -->
                </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7">
                <div class="row">
                    <nav class="col-xs-6 col-sm-4 border-left">
                        <h3 class="color2"><span class="fa fa-question-circle fa-inline"></span>Szybki kontakt</h3>
                        <p>512 02 90 04<br />
                            <a href="mailto:biuro@memorabbit.pl">biuro@memorabbit.pl</a>
                        </p>
                        <p>ul. Kolejowa 65<br />
                            05-220 Zielonka<br />
                            woj. mazowieckie
                        </p>
                        <p>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{currenturl}}" target="_blank">
                                <span class="fa fa-facebook fa-lg fa-inline"></span>
                            </a>
                            <a href="https://www.youtube.com/user/pendrivereklamowe" target="_blank">
                                <span class="fa fa-youtube fa-lg fa-inline"></span>
                            </a>

                        </p>
                    </nav>
                    <nav class="col-xs-6 col-sm-4 border-left">
                        <h3 class="color2"><span class="fa fa-info-circle fa-inline"></span>Informacje</h3>
                        <p>
                            <a href="/blog/oferta/">Oferta</a><br/>
                            <a href="/privacy-policy">Polityka cookies</a><br/>
                            <a rel="nofollow" href="/warunki_wspolpracy.pdf">Warunki współpracy</a>
                        <p>

                    </nav>
                    <nav class="col-xs-12 col-sm-4 border-left hidden-xs">
                        <h3 class="color2"><span class="fa fa-plus-circle fa-inline"></span>Oferta</h3>
                        <p class="nav-with-icons">
                            <a href="{{ externalConfig.flashdriveImportUrl}}"><span class="icon icon-pendrive"></span> Pendrive</a><br/>
                            <a href="{{ externalConfig.powerbankImportUrl}}"><span class="icon icon-powerbank"></span> Powerbank</a><br/>
                            <a href="{{ externalConfig.electronicImportUrl}}"><span class="icon icon-electronics"></span> Elektronika reklamowa</a><br/>
                            <a href="/c/sport-i-wypoczynek">Sport i turystyka</a>
                            <br/>
                            <a href="/blog/opakowania-na-pamieci-pendrive-usb/"><span class="icon icon-boxes"></span> Opakowania</a>
                        </p>
                    </nav>
                </div>
            </div>
        </div>
        <span class="visible-xs" id="mobile-check"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Copyright © 2011 - {{ "now"|date("Y") }} <a href="https://memorabbit.pl"><strong>Producent MemoRabbit</strong></a></p>
            </div>
        </div>
    </div>
</footer>


<!-- Cookies -->





<div class="scroll-top">
    <a href=""><span class="fa fa-fw fa-chevron-up"></span></a>
</div>
