<header>

    <nav class="navbar navbar-default"  id="menu" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img class="img-responsive" src="https://cdn.memorabbit.pl/i/logo1.svg" alt="Logo" width="298px" height="95px" /></a>
                <!--<div class="visible-xs mobile-icons">
                     <a href="#">
                         <span class="fa-stack fa-inline fa-lg">
                             <span class="fa fa-circle fa-stack-1x"></span>
                             <span class="fa-inlinetext fa-stack-1x">27</span>
                         </span>
                     </a>
                     <a href="#"><span class="fa fa-shopping-cart fa-inline fa-lg"></span></a>
                     <a href="#"><span class="fa fa-sign-in fa-inline fa-lg"></span></a>
                     <a href="#" class="show-search"><span class="fa fa-search fa-inline fa-lg"></span></a>
                 </div>-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu .navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Godziny pracy od&nbsp;poniedziałku do&nbsp;piątku 8:00&nbsp;-&nbsp;16:00"><span class="fa fa-phone fa-inline fa-lg"></span>512 02 90 04</span></a></li>
                    <li><a href=""><span class="fa fa-envelope fa-inline fa-lg"></span>biuro@memorabbit.pl</a></li>
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{currenturl}}" target="_blank">
                            <span class="fa fa-facebook fa-inline fa-lg"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/pendrivereklamowe" target="_blank">
                            <span class="fa fa-youtube fa-inline fa-lg"></span>
                        </a>
                    </li>
                    <li class="active"><a href="">PL</a></li>
                    <li><a rel="nofollow" href="https://memorabbit.com">EN</a></li>
                    <!--<li><a href="">DE</a></li>
                    <li><a href="">RU</a></li> -->
                </ul>
            </div>
            <div class="navbar-collapse collapse hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {%if externalConfig.showOnlyPhpPart == false %}
                        <a href="/login"><span class="fa fa-sign-in fa-inline fa-lg"></span> Zaloguj się</a>
                    {% endif %}
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                 <div class="search-form pull-right hidden-xs">
                     <form action="/search" method="get">
                         <input type="text" class="form-control" placeholder="wyszukaj produkt" name="name" />
                         <input type="submit" name="xx" value="submit" style="visibility: hidden"/>
                     </form>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-big">
                    <li><a class="show-submenu">Produkty</a></li>
                    {%if externalConfig.showOnlyPhpPart == false %}
                    <li><a href="/partner-panel">Program partnerski</a></li>
                    {%endif%}
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li class="visible-xs"><a href="#">PL</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mobile-search">
       <!-- <div class="search-form pull-right">
            <input type="text" class="form-control" placeholder="wyszukaj produkt" />
        </div> -->
    </div>
    <div class="sub-menu" style="display: none">
        <div class="container">
            <div class="row">
                {% for category in headerCategories %}
                <div class="col-sm-4">
                    <h3><a href="{{ path_for('categoryGlobal', { 'import': 'import', 'parentCategoryUrl': category.name_url}) }}">{{category.name}}</a></h3>
                    <ul>
                        {% for subcategory in category.subCategories %}
                        <li><a href="{{ path_for('category', { 'import': 'import', 'parentCategoryUrl': category.name_url, 'categoryUrl': subcategory.name_url}) }}">{{subcategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</header>




