<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <meta name="author" content="memorabbit.pl" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <title>{% block title %}{% endblock %} - Producent Memorabbit</title>

    <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
    <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
    <meta property="og:url" content="{% block ogurl %}{% endblock %}" />
    <meta property="og:site_name" content="Memorabbit" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% block ogdescription %}{% endblock %}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="" />

    {% block criticalpath %}{% endblock %}

    <!--[if IE]><link href="https://cdn.memorabbit.pl/i/fav.ico?v=2" rel="shortcut icon" /><![endif]-->
    <link href="https://cdn.memorabbit.pl/i/fav.png" rel="icon" />
    <link href="https://cdn.memorabbit.pl/i/fav1.png" rel="apple-touch-icon-precomposed" />

    {%block additionalData %}{%endblock %}

    <link rel="dns-prefetch" href="\\fonts.gstatic.com"/>
    <link rel="dns-prefetch" href="\\cdn.memorabbit.pl/">
    <link rel="dns-prefetch" href="\\s0.wp.com"/>
    <link rel="dns-prefetch" href="\\stats.wp.com"/>
    <link rel="dns-prefetch" href="\\ajax.googleapis.com"/>
    <link rel="dns-prefetch" href="\\www.google-analytics.com"/>
    <link rel="dns-prefetch" href="\\fonts.googleapis.com"/>
    <link rel="dns-prefetch" href="\\pixel.wp.com"/>
    <link rel="dns-prefetch" href="\\stats.g.doubleclick.net"/>
    <link rel="dns-prefetch" href="\\www.google.com.ph"/>
    <link rel="dns-prefetch" href="\\stats.g.doubleclick.net"/>

</head>
<body>
{{ include('header.phtml') }}

<section class="container" role="main">
{% block content %}{% endblock %}
</section>


{{ include('footer.phtml') }}
<link async defer href="https://cdn.memorabbit.pl/static2/maincss.css" rel="stylesheet" />
<script async defer src="https://cdn.memorabbit.pl/static2/mainjs.js"></script>
<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Roboto+Slab:700:latin-ext', 'Fira+Sans:latin-ext' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })(); </script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-27409555-1', 'auto');
    ga('send', 'pageview');

</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://memorabbit.pl/",
  "potentialAction": [{
    "@type": "SearchAction",
    "target": "https://memorabbit.pl/search?name={search_term_string}",
    "query-input": "required name=search_term_string"
  },{
    "@type": "SearchAction",
    "target": "android-app://com.example/https/memorabbit.pl/search/?name={search_term_string}",
    "query-input": "required name=search_term_string"
  }]
}
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "https://memorabbit.pl/",
  "logo": "https://cdn.memorabbit.pl/i/logo1.svg",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+48 512 02 90 04",
    "contactType" : "customer service"
  }],
  "sameAs" : [
    "https://facebook.com/derentis.group/"
  ]
}

</body>
</html>
