{% extends "layout.phtml" %}
{% block title %}Newsletter{% endblock %}
{% block content %}
{{ include('breadcrumbspage.phtml') }}
    <hr class="hr_sep color2">

    <div class="row">
        <div class="col-sm-6">
            <h2>Komunikat</h2>
            <div class="well text-center">
                <p><img src="https://cdn.memorabbit.pl/i/icon-newsletter.png" alt="Newsletter" /></p>
                <p>{{newsletterText}}</strong></p>
            </div>
            <p class="small text-muted">W każdej chwili możesz anulować newsletter klikając link w wiadomości.</p>
            <p class="small text-muted">Zgodnie z ustawą o ochronie danych osobowych masz prawo do dostępu do swoich danych, ich poprawienia, usunięcia danych oraz prawo sprzeciwu w przypadkach wymienionych w ww. ustawie.</p>
        </div>
        <div class="col-sm-5 col-sm-offset-1 margin-xs">

            {{ include('register-add.phtml') }}

        </div>
    </div>

{% endblock %}
