<div class="row no-margin">
    <div id="newsletter">
        {%if externalConfig.showNewsletter == true %}
        <form class="form-horizontal" action="https://app.freshmail.com/pl/actions/subscribe/" method="post">
            <input type="hidden" name="subscribers_list_hash" value="{{ externalConfig.newsletterHash}}" /><br />
            <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="https://cdn.memorabbit.pl/i/icon-newsletter.png" alt="Newsletter" class="pull-left">
                    <label for="freshmail_email"><h3>NEWSLETTER</h3></label>
                    <p>Bądź na bieżąco,<br>z naszymi nowościami.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="input-group">
                        <input class="form-control" id="freshmail_email" name="freshmail_email" placeholder="adres email" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">zapisz</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>