{% extends "layout.phtml" %}
{% block title %}Categories{% endblock %}
{% block content %}
<hr class="hr_sep color2">
<div class="text-center margin">
    <h3>Nie znaleziono strony</h3>
</div>

{% endblock %}
