{% extends "layout.phtml" %}
{% block title %}Polityka prywatności{% endblock %}
{% block content %}
{{ include('breadcrumbspage.phtml') }}

<hr class="hr_sep color2" />

<div class="row">

    Derentis s.c. zastrzega sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności. Polityka Prywatności obowiązuje wszystkie osoby odwiedzające nasz serwis.

    <h2>Dane osobowe</h2>

    W czasie korzystania z naszego serwisu Derentis s.c., możesz zostać poproszony o podanie niektórych danych osobowych (np. poprzez wypełnienie formularza do komentowania naszych wpisów). Derentis s.c. nigdy, pod żadnym pozorem nie udostępnia danych kontaktowych swoich użytkowników osobom/firmom trzecim.

    <h2>Ciasteczka (cookies)</h2>

    Niektóre obszary serwisu Derentis s.c. mogą wykorzystywać ciasteczka, czyli małe pliki tekstowe wysyłane do komputera odwiedzającego identyfikujące go w sposób potrzebny do uproszczenia i przyspieszenia działania serwisu (np. poprzez zapamiętanie poprzednio otwartych tekstów i szybsze ich ponowne wczytywanie). Ciasteczka są nieszkodliwe dla komputera, jak również dla użytkownika i jego danych. Każdy użytkownik może je wyłączyć w ustawieniach własnej przeglądarki.

    <h2>Google Analytics</h2>

    Derentis s.c. korzysta z Google Analytics, usługi analizy oglądalności stron internetowych udostępnianej przez Google, Inc. („Google”). Google Analytics używa „cookies”, czyli plików tekstowych umieszczanych na komputerze użytkownika w celu umożliwienia witrynie przeanalizowania sposobu, w jaki użytkownicy z niej korzystają. Informacje generowane przez cookie na temat korzystania z witryny przez użytkownika (włącznie z jego adresem IP) będą przekazywane spółce Google i przechowywane przez nią na serwerach w Stanach Zjednoczonych.

    Google będzie korzystał z tych informacji w celu oceny korzystania z witryny przez użytkownika, tworzenia raportów dotyczących ruchu na stronach dla operatorów witryn oraz świadczenia innych usług związanych z ruchem na witrynach internetowych i korzystaniem z internetu. Google może również przekazywać te informacje osobom trzecim, jeżeli będzie zobowiązana to uczynić na podstawie przepisów prawa lub w przypadku, gdy osoby te przetwarzają takie informacje w imieniu Google.

    Google nie będzie łączyła adresu IP użytkownika z żadnymi innymi danymi będącymi w jej posiadaniu. Użytkownik może zrezygnować z cookies wybierając odpowiednie ustawienia na przeglądarce, jednak należy pamiętać, że w takim przypadku korzystanie z wszystkich funkcji witryny może okazać się niemożliwe Korzystając z niniejszej witryny internetowej użytkownik wyraża zgodę na przetwarzanie przez Google dotyczących go danych w sposób i w celach określonych powyżej.

    <h2>Facebook</h2>

    Na stronach Derentis s.c. znajduje się zintegrowany plugin (wtyczka) portalu społecznościowego Facebook, 1601 South Carolina Avenue, Palo Alto, CA 943404, USA. Plugin Facebooka znajduje się pod przyciskiem „Lubię to“ na naszej stronie. Listę pluginów na Facebooku znajdziesz tutaj.

    Kiedy odwiedzasz naszą stronę, następuje automatyczne połączenie poprzez plugin pomiędzy serwerem Facebooka, a Twoją przeglądarką internetową. Facebook otrzyma wtedy informację, że Ty pod swoim adresem IP odwiedziłeś naszą stronę. Jeśli klikniesz na przycisk „Lubię to“ w czasie kiedy jesteś zalogowany w swoim koncie na Facebooku, to zawartość naszej strony może zostać podlinkowana do Twojego profilu. Dodatkowe informacje znajdziesz na stronach Facebooka.

    Jeśli nie życzysz sobie, aby Facebook odnotowywał fakt Twoich odwiedzin na naszej stronie, prosimy wylogować się ze swojego konta użytkownika na Facebooku.


    <a href="https://pl.wikipedia.org/wiki/Polityka_prywatno%C5%9Bci">Wikipedia - polityka prywatności</a>
</div>

{{ include('newsletter.phtml') }}
{% endblock %}


{% block criticalpath %}
<style>
    .fa-fw{text-align:center;width:1.28571429em}
    .fa,.fa-stack{display:inline-block}
    .fa{font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;margin-right:6px}
    .btn{-webkit-user-select:none;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;user-select:none;border:1px solid transparent;border-radius:4px;text-transform:uppercase}
    html{-webkit-tap-highlight-color:transparent;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px}
    .fa{font-style:normal;font-variant:normal;font-weight:400;line-height:1;font-family:FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;font:normal normal normal 14px/1 FontAwesome;margin-right:6px}
    .form-control{font-style:italic;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    .fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%;line-height:.75em}
    .fa-stack,img{vertical-align:middle}
    .fa-fw{width:1.28571429em}
    hr,img{border:0;border:0}
    body{margin:0;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    .fa-stack{position:relative;width:2em;height:2em;line-height:2em}
    .fa-stack-1x{position:absolute;left:0;width:100%;text-align:center;line-height:inherit;line-height:inherit}
    .fa-search::before{content:}
    .fa-user::before{content:}
    .fa-chevron-up::before{content:}
    .fa-shopping-cart::before{content:}
    .fa-sign-in::before{content:}
    .fa-phone::before{content:}
    .fa-twitter::before{content:}
    .fa-facebook::before{content:}
    .fa-envelope::before{content:}
    .fa-circle::before{content:}
    .fa-instagram::before{content:}
    html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px}
    header,nav,section{display:block}
    a{background-color:transparent;text-decoration:none}
    b{font-weight:700}
    hr{height:0;box-sizing:content-box;height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;margin-top:20px;margin-bottom:20px;border-top:1px solid #eee}
    textarea{overflow:auto}
    button,input,select,textarea{margin:0;font-family:inherit;font-size:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;line-height:inherit;color:inherit}
    button{overflow:visible}
    button,select{text-transform:none}
    button,input[type="submit"]{-webkit-appearance:button;cursor:pointer}
    .form-control{-webkit-appearance:none;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    input[type="checkbox"]{box-sizing:border-box;padding:0}
    @media print {
        img{page-break-inside:avoid;max-width:100%!important}
        *{color:#000!important;text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;background-position:0 0!important;background-repeat:initial initial!important}
        a{text-decoration:underline}
        a[href]::after{content:' (',attr(href),')'}
        a[href^="#"]::after{content:''}
        img{max-width:100%!important;max-width:100%!important}
        h2,h3,p{orphans:3;widows:3}
        h2,h3{page-break-after:avoid}
        .navbar{display:none}
    }
    .btn,.form-control,.navbar-toggle{background-image:none}
    body{background-color:#fff;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    *{box-sizing:border-box;border-radius:0!important}
    html{font-size:10px;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
    body{line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
    a{text-decoration:none;background-color:transparent}
    .img-responsive{display:block;max-width:100%;height:auto;margin:0 auto}
    hr{margin-top:20px;margin-bottom:20px;border-top-width:1px;border-top-style:solid;border-top-color:#eee;height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border-top:1px solid #eee}
    .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0px 0px 0px 0px);border:0;padding:0;clip:rect(0,0,0,0);border:0}
    textarea.form-control{height:auto}
    h1,h2,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;margin-top:20px;margin-bottom:10px}
    h1{font-size:36px;margin:20px 0}
    h2{font-size:30px;margin-top:10px;font-size:24px}
    h3{font-size:24px;font-size:16px}
    p{margin:0 0 10px;margin:0 0 10px}
    ul{margin-top:0;margin-bottom:10px}
    @media (min-width: 768px) {
        .container{width:750px}
    }
    .container::after,.nav::after,.navbar-collapse::after,.navbar-header::after,.navbar::after,.row::after{clear:both}
    .container{margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px}
    @media (min-width: 992px) {
        .container{width:970px}
    }
    @media (min-width: 1200px) {
        .container{width:1170px}
    }
    .row{margin-right:-15px;margin-left:-15px}
    .col-md-12,.col-md-6,.col-sm-12,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-8,.col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
    .col-xs-12{float:left;width:100%;width:100%}
    @media (min-width: 768px) {
        .col-sm-12,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-8{float:left}
        .col-sm-12{width:100%}
        .col-sm-8{width:66.66666667%}
        .col-sm-6{width:50%}
        .col-sm-5{width:41.66666667%}
        .col-sm-4{width:33.33333333%}
        .col-sm-offset-1{margin-left:8.33333333%}
    }
    @media (min-width: 992px) {
        .col-md-12,.col-md-6{float:left}
        .col-md-12{width:100%}
        .col-md-6{width:50%}
    }
    label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:400}
    input[type="checkbox"]{margin:4px 0 0;line-height:normal}
    .form-control{line-height:1.42857143;display:block;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px;width:100%;background-color:#fff;border:1px solid #ccc;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;-webkit-box-shadow:rgba(0,0,0,0.0745098) 0 1px 1px inset;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;-webkit-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    .form-group{margin-bottom:15px}
    .checkbox{position:relative;display:block;margin-top:10px;margin-bottom:10px;padding-left:20px}
    .checkbox label{min-height:20px;margin-bottom:0;font-weight:400;cursor:pointer;display:inline-block;position:relative;padding-left:5px}
    .checkbox input[type="checkbox"]{position:absolute;margin-left:-20px}
    .btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;margin-bottom:0;-ms-touch-action:manipulation;touch-action:manipulation;user-select:none;border-radius:4px;text-transform:uppercase}
    .collapse{display:none}
    .nav > li,.nav > li > a{display:block;position:relative}
    .nav{padding-left:0;margin-bottom:0;list-style:none;padding-left:0;margin-bottom:0}
    .nav > li > a{padding:10px 15px}
    .navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}
    .navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;border-top-width:1px;border-top-style:solid;border-top-color:transparent;-webkit-box-shadow:rgba(255,255,255,0.0980392) 0 1px 0 inset;box-shadow:rgba(255,255,255,0.0980392) 0 1px 0 inset;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
    @media (min-width: 768px) {
        .navbar{border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}
        .navbar-header{float:left}
        .navbar-collapse{width:auto;border-top-width:0;-webkit-box-shadow:none;box-shadow:none}
        .navbar-collapse.collapse{padding-bottom:0;display:block!important;height:auto!important;overflow:visible!important}
    }
    .container > .navbar-collapse,.container > .navbar-header{margin-right:-15px;margin-left:-15px}
    .navbar-brand{float:left;padding:15px;font-size:18px;line-height:20px;height:auto}
    .navbar-brand > img{display:block}
    @media (min-width: 768px) {
        .container > .navbar-collapse,.container > .navbar-header{margin-right:0;margin-left:0}
        .navbar > .container .navbar-brand{margin-left:-15px}
    }
    .navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;border:1px solid transparent;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-radius:4px}
    .navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-top-left-radius:1px;border-top-right-radius:1px;border-bottom-right-radius:1px;border-bottom-left-radius:1px;border-radius:1px}
    .navbar-toggle .icon-bar + .icon-bar{margin-top:4px}
    .navbar-nav{margin:7.5px -15px}
    .navbar-nav > li > a{padding-top:10px;padding-bottom:10px;line-height:20px}
    @media (min-width: 768px) {
        .navbar-toggle{display:none}
        .navbar-nav{float:left;margin:0}
        .navbar-nav > li{float:left}
        .navbar-nav > li > a{padding-top:15px;padding-bottom:15px}
    }
    @media (min-width: 768px) {
        .navbar-right{margin-right:-15px;float:right!important}
    }
    .navbar-default{background-color:#f8f8f8;border-color:#e7e7e7;background-color:#f8f8f8;border-color:#e7e7e7}
    .navbar-default .navbar-brand{color:#777;color:#777}
    .navbar-default .navbar-nav > li > a{color:#777}
    .navbar-default .navbar-nav > .active > a{color:#555;background-color:#e7e7e7}
    .navbar-default .navbar-toggle{border-color:#ddd;border-color:#ddd}
    .navbar-default .navbar-collapse{border-color:#e7e7e7}
    .container::after,.container::before,.nav::after,.nav::before,.navbar-collapse::after,.navbar-collapse::before,.navbar-header::after,.navbar-header::before,.navbar::after,.navbar::before,.row::after,.row::before{display:table;content:' '}
    .pull-right{float:right!important;float:right!important}
    .visible-xs{display:none!important}
    @media (max-width: 767px) {
        .visible-xs{display:block!important}
        .hidden-xs{display:none!important}
    }
    .checkbox label,.cookies-info p{vertical-align:middle}
    b,h1,h2,h3{color:#2e2d73}
    a{color:#936fe9;background-color:transparent;text-decoration:none}
    .row{position:relative;margin-right:-15px;margin-left:-15px}
    *{border-top-left-radius:0!important;border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-bottom-left-radius:0!important;border-radius:0!important}
    body,html{overflow-x:hidden}
    body{color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizelegibility;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;text-rendering:optimizeLegibility}
    .btn,h1,h2,h3{font-weight:700}
    h1,h2,h3{text-transform:uppercase;font-family:'Roboto Slab',serif}
    h1{margin:20px 0;margin:20px 0}
    h2{margin-top:10px;font-size:24px}
    #menu.navbar-default .navbar-big > li > a,.color2,.sub-menu h3{font-family:'Roboto Slab',serif}
    h3{font-size:16px}
    .color2{color:#936fe9;color:#936fe9}
    #menu li > a > span,a,button,input{transition:all .2s;-webkit-transition:all .2s}
    .btn{text-transform:uppercase;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;user-select:none;border:1px solid transparent;border-radius:4px}
    .btn-default{background-color:#2e2d73;border-color:#2e2d73;color:#fff;line-height:18px;background-color:#2e2d73;border-color:#2e2d73;color:#fff}
    #menu.navbar-default,.nav > li > a{text-transform:uppercase}
    .img-responsive{margin:0 auto;margin:0 auto}
    .nav > li > a{color:#336}
    .navbar-brand{height:auto;float:left;padding:15px;font-size:18px;line-height:20px}
    @media (min-width: 768px) {
        .navbar-brand{padding:30px 15px 0}
    }
    #menu.navbar,.sub-menu{margin-bottom:30px}
    #menu.navbar-default{background-color:#fff;border:none;background-color:#fff}
    .navbar-header{position:absolute}
    #menu.navbar-default .navbar-nav > li > a{color:#2e2d73;cursor:pointer}
    #menu.navbar-default .navbar-nav > .active > a{background-color:inherit;color:#936fe9}
    #menu.navbar-default .navbar-nav > li{padding:5px}
    #menu.navbar-default .navbar-nav > li:last-of-type{padding-right:0}
    #menu.navbar-default .navbar-nav > li > a{font-weight:400;margin-top:5px;font-size:14px;padding:5px 2px;display:inline-block}
    @media (max-width: 767px) {
        #menu.navbar-default .navbar-nav > li{padding-left:15px}
    }
    #menu.navbar-default .navbar-big > li > a{font-weight:700}
    .sub-menu a{color:#2e2d73;color:#2e2d73}
    .sub-menu h3{font-weight:700;color:#2e2d73;font-size:14px;margin:0;padding:15px 0;color:#2e2d73;margin:0;padding:15px 0}
    .sub-menu ul{-webkit-column-count:2;-webkit-column-gap:15px;padding:0;list-style:none;line-height:24px;-moz-column-count:2;-moz-column-gap:15px;column-count:2;column-gap:15px;padding:0}
    .sub-menu .row .col-sm-4:nth-child(1) h3{border-top-width:4px;border-top-style:solid;border-top-color:#fbb754;border-top:4px solid #fbb754}
    .sub-menu .row .col-sm-4:nth-child(2) h3{border-top-width:4px;border-top-style:solid;border-top-color:#2fa8ed;border-top:4px solid #2fa8ed}
    .sub-menu .row .col-sm-4:nth-child(3) h3{border-top-width:4px;border-top-style:solid;border-top-color:#08b27f;border-top:4px solid #08b27f}
    .title{font-weight:700;text-transform:uppercase;margin:5px 0;font-size:24px;font-family:"Roboto Slab"}
    .page-title{margin:10px 0;margin:10px 0}
    .title{margin:5px 0;font-size:24px;font-family:'Roboto Slab';margin:5px 0;font-family:"Roboto Slab"}
    .map{margin-bottom:20px}
    #newsletter input{border:3px solid #936fe9;padding:15px;border:3px solid #936fe9}
    .cookies-info{position:fixed;bottom:0;width:100%;background-color:#8572b4;color:#fff;z-index:9999;padding:15px 0;bottom:0;background-color:#8572B4;color:#fff;padding:15px 0}
    .cookies-info .btn-default{padding:10px 20px 8px;font-size:12px;line-height:12px;margin-left:20px;border:3px solid #fff;border:3px solid #fff}
    .cookies-info img{margin-right:20px}
    .cookies-info p{height:74px;display:table-cell}
    .navbar-brand > img{position:relative;z-index:9;height:95px}
    .form-control{box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;border-color:#3d3480;color:#3d3480}
    select.form-control{background-image:url(https://cdn.memorabbit.pl/i/drop.png);background-color:#fff;padding:6px 25px 4px 6px;background-position:100% 50%;background-repeat:no-repeat no-repeat;background:url(https://cdn.memorabbit.pl/i/drop.png) right center no-repeat #fff}
    label{font-weight:400;display:inline-block;max-width:100%;margin-bottom:5px}
    .search-form{width:150px;position:relative;margin-top:10px;margin-left:25px;margin-right:-15px}
    .search-form input{padding-right:25px}
    .search-form::after{font-family:FontAwesome;content:;position:absolute;color:#936fe9;right:5px;top:4px}
    @media (max-width: 991px) {
        .cookies-info img{display:none}
        #menu.navbar-default .navbar-brand img{max-width:145px;height:auto}
        .cookies-info{padding:0;font-size:12px;line-height:21px}
    }
    @media (max-width: 767px) {
        .navbar-header{position:relative}
        #menu.navbar-default .navbar-brand img{max-width:200px}
        #menu.navbar-default .navbar-nav > li > a{margin-top:0}
        h3{font-weight:700;font-size:14px}
        .page-title{margin:0}
        .title{font-size:20px}
        .sub-menu{margin-top:-10px;margin-bottom:40px}
        .cookies-info{padding-bottom:10px}
        .cookies-info .btn-default{width:100%;margin:10px 0;float:none!important}
        .mobile-icons{position:absolute;right:80px;top:54px}
        .mobile-icons a{width:35px;display:inline-block;text-align:center}
    }
    .mobile-search{height:50px;padding:0 15px 30px;left:0;right:0;display:none;width:100px;padding:0 15px 30px;left:0;right:0}
    .mobile-search .search-form{width:100%;margin:0;top:0;margin:0;top:0}
    @media (min-width: 768px) {
        .mobile-search{display:none!important}
    }
    .hr_sep{border-top-width:3px;border-top-style:solid;border-top-color:#936fe9;border-top:3px solid #936fe9}
    .scroll-top{background-color:#936fe9;position:fixed;bottom:30px;right:30px;border:3px solid #2e2d73;height:34px;width:34px;line-height:30px;text-align:center;font-size:1.5em;z-index:1000;cursor:pointer;display:none;background-color:#936fe9;border:3px solid #2e2d73}
    .scroll-top a{color:#fff}
    .fa{margin-right:6px;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased}
    .fa-inline{color:#936fe9;color:#936fe9}
    .fa-inline.fa-stack{width:1em;height:1em;line-height:1em}
    .fa-inlinetext{color:#fff;font-size:10px;font-weight:700;color:#fff}
    .checkbox{padding-left:20px}
    .checkbox label{display:inline-block;position:relative;padding-left:5px}
    .checkbox label::after,.checkbox label::before{position:absolute;left:0;display:inline-block;margin-left:-20px;left:0}
    .checkbox label::before{content:'';width:17px;height:17px;border:1px solid #2e2d73;border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0;background-color:#fff;transition:border .15s ease-in-out,color .15s ease-in-out;-webkit-transition:border .15s ease-in-out,color .15s ease-in-out;border:1px solid #2e2d73;border-radius:0;background-color:#fff;-webkit-transition:border .15s ease-in-out,color .15s ease-in-out;-o-transition:border .15s ease-in-out,color .15s ease-in-out;transition:border .15s ease-in-out,color .15s ease-in-out}
    .checkbox label::after{width:16px;height:16px;top:0;padding-left:3px;padding-top:1px;font-size:11px;color:#936fe9;top:0;color:#936fe9}
    .checkbox input[type="checkbox"]{opacity:0;z-index:1}
    .navbar-default .navbar-toggle .icon-bar{background-color:#936fe9;background-color:#936fe9}
    #menu.navbar-default .navbar-toggle{border:3px solid #936fe9;margin-top:45px;border:3px solid #936fe9}
    .mobile-icons{position:absolute;right:80px;top:54px}
    @media (max-width: 480px) {
        .navbar-default .navbar-brand{width:100%}
        #menu.navbar-default .navbar-toggle{margin-top:0}
        .mobile-icons{left:15px;top:104px}
    }
    @media (max-width: 767px) {
        #menu.navbar{margin-bottom:5px}
    }
</style>
{% endblock %}