<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cennik</title>


    <style>
        html {
            font-family: sans-serif;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        body {
            margin: 0;
        }

        a {
            background-color: transparent;
        }

        img {
            border: 0;
        }

        hr {
            height: 0;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 0;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        :after,
        :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        html {
            font-size: 10px;
        }

        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }

        img {
            vertical-align: middle;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }

        .text-right {
            text-align: right;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-lg-7,
        .col-lg-8,
        .col-md-1,
        .col-md-8,
        .col-sm-4,
        .col-xs-3,
        .col-xs-9 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-3,
        .col-xs-9 {
            float: left;
        }

        .col-xs-9 {
            width: 75%;
        }

        .col-xs-3 {
            width: 25%;
        }

        @media (min-width:768px) {
            .col-sm-4 {
                float: left;
            }

            .col-sm-4 {
                width: 33.33333333%;
            }
        }

        @media (min-width:992px) {
            .col-md-1,
            .col-md-8 {
                float: left;
            }

            .col-md-8 {
                width: 66.66666667%;
            }

            .col-md-1 {
                width: 8.33333333%;
            }
        }

        @media (min-width:1200px) {
            .col-lg-7,
            .col-lg-8 {
                float: left;
            }

            .col-lg-8 {
                width: 66.66666667%;
            }

            .col-lg-7 {
                width: 58.33333333%;
            }
        }

        table {
            background-color: transparent;
        }

        th {
            text-align: left;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }

        .table>tbody>tr>td,
        .table>thead>tr>th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        .table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }

        .table>thead:first-child>tr:first-child>th {
            border-top: 0;
        }

        .table-bordered {
            border: 1px solid #ddd;
        }

        .table-bordered>tbody>tr>td,
        .table-bordered>thead>tr>th {
            border: 1px solid #ddd;
        }

        .table-bordered>thead>tr>th {
            border-bottom-width: 2px;
        }

        .table-striped>tbody>tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        .table-responsive {
            min-height: .01%;
            overflow-x: auto;
        }

        @media screen and (max-width:767px) {
            .table-responsive {
                width: 100%;
                margin-bottom: 15px;
                overflow-y: hidden;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                border: 1px solid #ddd;
            }

            .table-responsive>.table {
                margin-bottom: 0;
            }

            .table-responsive>.table>tbody>tr>td,
            .table-responsive>.table>thead>tr>th {
                white-space: nowrap;
            }

            .table-responsive>.table-bordered {
                border: 0;
            }

            .table-responsive>.table-bordered>tbody>tr>td:first-child,
            .table-responsive>.table-bordered>thead>tr>th:first-child {
                border-left: 0;
            }

            .table-responsive>.table-bordered>tbody>tr>td:last-child,
            .table-responsive>.table-bordered>thead>tr>th:last-child {
                border-right: 0;
            }

            .table-responsive>.table-bordered>tbody>tr:last-child>td {
                border-bottom: 0;
            }
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .panel-body {
            padding: 15px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-footer {
            padding: 10px 15px;
            background-color: #f5f5f5;
            border-top: 1px solid #ddd;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .clearfix:after,
        .clearfix:before,
        .panel-body:after,
        .panel-body:before,
        .row:after,
        .row:before {
            display: table;
            content: " ";
        }

        .clearfix:after,
        .panel-body:after,
        .row:after {
            clear: both;
        }

        .pull-right {
            float: right!important;
        }

        .pull-left {
            float: left!important;
        }

        @-ms-viewport {
            width: device-width;
        }

        body {
            background-color: #f8f8f8;
        }

        .huge {
            font-size: 40px;
        }

        @font-face {
            font-family: 'FontAwesome';
            src: url(https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/font-awesome/css'../fonts/fontawesome-webfont.eot?v=4.6.3');
            src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .pull-right {
            float: right;
        }

        .pull-left {
            float: left;
        }

        .fa-phone:before {
            content: "\f095";
        }

        .fa-envelope:before {
            content: "\f0e0";
        }

        html {
            zoom: 0.45;
        }

        @media (min-width: 0px) {
            .ms {
                width: 100%;
                float: none;
                display: block;
                min-height: 1px;
            }
        }

        .notbold{
            font-weight:normal
        }​

    </style>
</head>
<body>
<div class="ms">
    <div>
        <div class="row">
            <div class="col-lg-7">
                <div class="panel ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="huge">{{pricelist_companyName}}</div>
                                <div>{{pricelist_address}}</div>
                                <div>Data cennika: {{ "now"|date("d/m/Y H:i", "Europe/Warsaw") }}</div>
                            </div>

                        </div>
                    </div>
                    <a>
                        <div class="panel-footer">
                            <span class="pull-left">Zapraszamy do kontaktu</span>
                            <br />
                            <span class="pull-left"><i class="fa fa-phone"></i>  {{pricelist_phone}}</span>
                            <span class="pull-right"><i class="fa fa-envelope"></i>  {{pricelist_email}}</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {% for product in products %}
            {% include 'pricelist-single-capacity.phtml'
            with {'product': product} %}
        {% if  loop.index % 3 == 0 %}
        <div class="brejk" data-pg-collapsed ></div>
        {% endif %}

        {% endfor %}


    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>
