<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div data-pg-collapsed class="col-md-1">

            </div>
            <div class="col-sm-4 col-md-8 col-lg-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th style=" width: 14%;">{{product.name}}</th>
                            {% for capacity in product.capacities %}
                            <th style="width: 14%;" class='notbold'>{{capacity.namePL}}</th>

                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for margin in product.margins %}
                        <tr>
                            <td>{{margin.from}} - {{margin.to}}</td>
                            {% for capacity in product.capacities %}
                                <td>

                                    {% for item in product.prices if item.capacity == capacity._id %}
                                        {% if item.margin == margin._id %}
                                            {{item.price}}
                                        {% endif %}

                                    {% endfor %}
                                </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    Minimalne zamówienie: {{product.moq}} sztuk
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- /.col-lg-12 -->
</div>