<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div data-pg-collapsed class="col-md-1">
                <img src="https://cdn.memorabbit.pl/p/140x140/{{product.photos.0.url}}" />
            </div>
            <div class="col-sm-4 col-md-8 col-lg-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th style="
                                                        width: 14%;
                                                ">{{product.name}}</th>
                            {% for capacity in product.capacities %}
                            <th style="width: 14%;">{{capacity.namePL}}</th>

                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for margin in product.margins %}
                        <tr>
                            <td>{{margin.from}} - {{margin.to}}</td>
                            {% for capacity in product.capacities %}
                                <td>
                                    {{margin.from}} - {{margin.to}} - {{capacity.namePL}}
                                </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    Minimalne zamówienie: {{moq}} sztuk
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- /.col-lg-12 -->
</div>