{% extends "layout.phtml" %}
{% block title %}
    {{category.name_title}} - Gadżet, Cennik
    {% if pagination.page != 1 %}
    , strona {{pagination.page}}
    {% endif %}
{% endblock %}
{% block description %}
    {{category.description|length > 150 ? category.description|slice(0, 150) ~ '...' : category.description}}
    {% if pagination.page != 1 %}
    , strona {{pagination.page}}
    {% endif %}
{% endblock %}
{% block ogtitle %}{{category.name_title}}{% endblock %}
{% block ogurl %}{{currenturl}}{% endblock %}
{% if products == true %}
    {% if products.1 == true %}
        {% block ogimage %}https://cdn.memorabbit.pl/p/496x395/{{products.0.photos.0.url}}{% endblock %}
    {% endif %}
{% endif %}
{% block ogdescription %}
    {{category.description|length > 150 ? category.description|slice(0, 150) ~ '...' : category.description}}
    {% if pagination.page != 1 %}
    , strona {{pagination.page}}
    {% endif %}
{% endblock %}
{% block content %}
    {{ include('breadcrumbs.phtml') }}
    {{ include('arrows-products.phtml') }}
    {{ include('categories-nav.phtml') }}
    {{ include('products.phtml') }}
{% endblock %}
{% block additionalData %}
{% if pagination.prev1 != pagination.page %}

{% if pagination.prev1 != 1 %}
<link rel="prev" href="https://memorabbit.pl{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category , 'page': pagination.prev1}) }}">
{% else %}
<link rel="prev" href="https://memorabbit.pl{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">
{%endif%}
{% endif%}

{% if pagination.next1 != pagination.page %}
{% if pagination.next1 != 1 %}
<link rel="next" href="https://memorabbit.pl{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category , 'page': pagination.next1}) }}">
{% else %}
<link rel="next" href="https://memorabbit.pl{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category }) }}">

{%endif%}

{% endif%}
{% endblock %}
{% block criticalpath %}
<style>
    .fa-fw {
        text-align: center;
        width: 1.28571429em;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 6px;
    }

    .fa {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 6px;
    }

    html {
        -webkit-tap-highlight-color: transparent;
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 10px;
    }

    .fa {
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: 6px;
    }

    .form-control {
        font-style: italic;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    .fa-lg {
        font-size: 1.33333333em;
        line-height: 0.75em;
        vertical-align: -15%;
        line-height: .75em;
    }

    img {
        vertical-align: middle;
    }

    .fa-fw {
        width: 1.28571429em;
    }

    img {
        border: 0px;
    }

    body {
        margin: 0px;
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizeLegibility;
    }

    .fa-chevron-left::before {
        content: ;
    }

    .fa-chevron-right::before {
        content: ;
    }

    .fa-plus-circle::before {
        content: ;
    }

    .fa-question-circle::before {
        content: ;
    }

    .fa-info-circle::before {
        content: ;
    }

    .fa-chevron-up::before {
        content: ;
    }

    .fa-sign-in::before {
        content: ;
    }

    .fa-phone::before {
        content: ;
    }

    .fa-facebook::before {
        content: ;
    }

    .fa-envelope::before {
        content: ;
    }

    html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 10px;
    }

    footer,
    header,
    nav,
    section {
        display: block;
    }

    a {
        background-color: transparent;
        text-decoration: none;
    }

    strong {
        font-weight: 700;
    }

    button,
    input {
        margin: 0px;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-variant: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
    }

    button {
        overflow: visible;
    }

    button {
        text-transform: none;
        overflow: visible;
    }

    button,
    input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    .form-control {
        -webkit-appearance: none;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    @media print {
        img {
            page-break-inside: avoid;
            max-width: 100%!important;
        }

        * {
            color: rgb(0, 0, 0) !important;
            text-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            background-position: 0px 0px !important;
            background-repeat: initial initial !important;
        }

        a {
            text-decoration: underline;
        }

        a[href]::after {
            content: ' (', attr(href), ')';
        }

        a[href^="#"]::after {
            content: '';
        }

        img {
            max-width: 100% !important;
            max-width: 100%!important;
        }

        h3,
        p {
            orphans: 3;
            widows: 3;
        }

        h3 {
            page-break-after: avoid;
        }

        .navbar {
            display: none;
        }
    }

    .form-control,
    .navbar-toggle {
        background-image: none;
    }

    body {
        background-color: rgb(255, 255, 255);
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizeLegibility;
    }

    * {
        box-sizing: border-box;
        border-radius: 0!important;
    }

    html {
        font-size: 10px;
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizeLegibility;
    }

    button,
    input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        text-decoration: none;
        background-color: transparent;
    }

    .img-responsive,
    .thumbnail > img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0px;
        margin: -1px;
        overflow: hidden;
        clip: rect(0px 0px 0px 0px);
        border: 0px;
        padding: 0;
        clip: rect(0,0,0,0);
        border: 0;
    }

    h1,
    h3 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    h1 small {
        font-weight: 400;
        line-height: 1;
        color: rgb(119, 119, 119);
        color: inherit;
        font-size: 35%;
        text-transform: initial;
    }

    h1,
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h1 small {
        font-size: 65%;
        color: inherit;
        font-size: 35%;
        text-transform: initial;
    }

    h1 {
        font-size: 36px;
        margin: 20px 0;
    }

    h3 {
        font-size: 24px;
        font-size: 16px;
    }

    p {
        margin: 0px 0px 10px;
        margin: 0 0 10px;
    }

    small {
        font-size: 85%;
    }

    .text-center {
        text-align: center;
    }

    ol,
    ul {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    ol,
    ul {
        margin-bottom: 10px;
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    .clearfix::after,
    .container::after,
    .nav::after,
    .navbar-collapse::after,
    .navbar-header::after,
    .navbar::after,
    .row::after {
        clear: both;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-2,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-sm-4,
    .col-sm-8,
    .col-xs-12,
    .col-xs-6 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-12,
    .col-xs-6 {
        float: left;
    }

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-6 {
        width: 50%;
    }

    @media (min-width: 768px) {
        .col-sm-4,
        .col-sm-8 {
            float: left;
        }

        .col-sm-8 {
            width: 66.66666667%;
        }

        .col-sm-4 {
            width: 33.33333333%;
        }
    }

    @media (min-width: 992px) {
        .col-md-2,
        .col-md-5,
        .col-md-6,
        .col-md-7 {
            float: left;
        }

        .col-md-7 {
            width: 58.33333333%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-5 {
            width: 41.66666667%;
        }

        .col-md-2 {
            width: 16.66666667%;
        }
    }

    .form-control {
        line-height: 1.42857143;
        display: block;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    .form-control {
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
        border-color: #3d3480;
        font-size: 11px;
        color: #3d3480;
        height: 28px;
        padding: 6px 8px 4px;
    }

    .collapse {
        display: none;
    }

    .nav > li,
    .nav > li > a {
        display: block;
        position: relative;
    }

    .nav {
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .nav > li > a {
        padding: 10px 15px;
    }

    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: transparent;
        -webkit-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset;
        box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

    @media (min-width: 768px) {
        .navbar {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .navbar-header {
            float: left;
        }

        .navbar-collapse {
            width: auto;
            border-top-width: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .navbar-collapse.collapse {
            padding-bottom: 0px;
            display: block !important;
            height: auto !important;
            overflow: visible !important;
        }
    }

    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }

    .navbar-brand {
        float: left;
        padding: 15px;
        font-size: 18px;
        line-height: 20px;
        height: auto;
    }

    .navbar-brand > img {
        display: block;
    }

    @media (min-width: 768px) {
        .container > .navbar-collapse,
        .container > .navbar-header {
            margin-right: 0px;
            margin-left: 0px;
        }

        .navbar > .container .navbar-brand {
            margin-left: -15px;
        }
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        border: 1px solid transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-radius: 4px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;
        border-radius: 1px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    .navbar-nav {
        margin: 7.5px -15px;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

    @media (min-width: 768px) {
        .navbar-toggle {
            display: none;
        }

        .navbar-nav {
            float: left;
            margin: 0px;
        }

        .navbar-nav > li {
            float: left;
        }

        .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

    @media (min-width: 768px) {
        .navbar-right {
            margin-right: -15px;
            float: right !important;
        }
    }

    .navbar-default {
        background-color: rgb(248, 248, 248);
        border-color: rgb(231, 231, 231);
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }

    .navbar-default .navbar-brand {
        color: rgb(119, 119, 119);
        color: #777;
    }

    .navbar-default .navbar-nav > li > a {
        color: rgb(119, 119, 119);
    }

    .navbar-default .navbar-nav > .active > a {
        color: rgb(85, 85, 85);
        background-color: rgb(231, 231, 231);
    }

    .navbar-default .navbar-toggle {
        border-color: rgb(221, 221, 221);
        border-color: #ddd;
    }

    .navbar-default .navbar-collapse {
        border-color: rgb(231, 231, 231);
    }

    .pagination {
        padding-left: 0px;
        margin: 20px 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

    .pagination > li {
        display: inline;
    }

    .pagination > li > a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
    }

    .pagination > li:first-child > a {
        margin-left: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .pagination > li:last-child > a {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .pagination > .active > a {
        z-index: 3;
        cursor: default;
    }

    .thumbnail {
        display: block;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        border-color: transparent;
    }

    .thumbnail {
        margin-bottom: 20px;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        border-color: transparent;
    }

    .thumbnail {
        padding: 4px;
        line-height: 1.42857143;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 221, 221);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        transition: border 0.2s ease-in-out;
        -webkit-transition: border 0.2s ease-in-out;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        border-color: transparent;
    }

    .thumbnail > img {
        margin-right: auto;
        margin-left: auto;
    }

    .clearfix::after,
    .clearfix::before,
    .container::after,
    .container::before,
    .nav::after,
    .nav::before,
    .navbar-collapse::after,
    .navbar-collapse::before,
    .navbar-header::after,
    .navbar-header::before,
    .navbar::after,
    .navbar::before,
    .row::after,
    .row::before {
        display: table;
        content: ' ';
    }

    .pull-right {
        float: right !important;
        float: right!important;
    }

    .visible-xs {
        display: none !important;
    }

    @media (max-width: 767px) {
        .visible-xs {
            display: block !important;
        }
    }

    @media (max-width: 767px) {
        .hidden-xs {
            display: none !important;
        }
    }

    @media (max-width: 991px) and (min-width: 768px) {
        .hidden-sm {
            display: none !important;
        }
    }

    .icon {
        vertical-align: middle;
        width: 22px;
        height: 22px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .product-list img {
        max-height: 100%;
        max-width: 100%;
    }

    h1,
    h3,
    strong {
        color: rgb(46, 45, 115);
    }

    a {
        color: rgb(147, 111, 233);
        background-color: transparent;
        text-decoration: none;
    }

    .row {
        position: relative;
        margin-right: -15px;
        margin-left: -15px;
    }

    * {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-radius: 0!important;
    }

    body,
    html {
        overflow-x: hidden;
    }

    body {
        color: rgb(68, 68, 68);
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-rendering: optimizelegibility;
        line-height: 1.42857143;
        color: #444;
        font-family: 'Fira Sans',sans-serif;
        text-rendering: optimizeLegibility;
    }

    h1,
    h1 small,
    h3 {
        font-weight: 700;
    }

    h1,
    h3 {
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
    }

    h1 {
        margin: 20px 0px;
        margin: 20px 0;
    }

    h1 small {
        color: inherit;
        font-size: 35%;
        text-transform: initial;
    }

    #menu.navbar-default .navbar-big > li > a,
    .color2,
    .sub-menu h3 {
        font-family: 'Roboto Slab', serif;
    }

    h3 {
        font-size: 16px;
    }

    .color2 {
        color: rgb(147, 111, 233);
        color: #936fe9;
    }

    #menu li > a > span,
    a,
    button,
    input {
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

    #menu.navbar-default,
    .nav > li > a {
        text-transform: uppercase;
    }

    .img-responsive {
        margin: 0px auto;
        margin: 0 auto;
    }

    .nav > li > a {
        color: rgb(51, 51, 102);
    }

    .navbar-brand {
        height: auto;
        float: left;
        padding: 15px;
        font-size: 18px;
        line-height: 20px;
    }

    @media (min-width: 768px) {
        .navbar-brand {
            padding: 30px 15px 0px;
        }
    }

    #menu.navbar,
    .sub-menu {
        margin-bottom: 30px;
    }

    #menu.navbar-default {
        background-color: rgb(255, 255, 255);
        border: none;
        background-color: #fff;
    }

    .navbar-header {
        position: absolute;
    }

    #menu.navbar-default .navbar-nav > li > a {
        color: rgb(46, 45, 115);
        cursor: pointer;
    }

    #menu.navbar-default .navbar-nav > .active > a {
        background-color: inherit;
        color: rgb(147, 111, 233);
    }

    #menu.navbar-default .navbar-nav > li {
        padding: 5px;
    }

    #menu.navbar-default .navbar-nav > li:last-of-type {
        padding-right: 0px;
    }

    #menu.navbar-default .navbar-nav > li > a {
        font-weight: 400;
        margin-top: 5px;
        font-size: 14px;
        padding: 5px 2px;
        display: inline-block;
    }

    @media (max-width: 767px) {
        #menu.navbar-default .navbar-nav > li {
            padding-left: 15px;
        }
    }

    #menu.navbar-default .navbar-big > li > a {
        font-weight: 700;
    }

    .sub-menu a {
        color: rgb(46, 45, 115);
        color: #2e2d73;
    }

    .sub-menu h3 {
        font-weight: 700;
        color: rgb(46, 45, 115);
        font-size: 14px;
        margin: 0px;
        padding: 15px 0px;
        color: #2e2d73;
        margin: 0;
        padding: 15px 0;
    }

    .sub-menu ul {
        -webkit-column-count: 2;
        -webkit-column-gap: 15px;
        padding: 0px;
        list-style: none;
        line-height: 24px;
        -moz-column-count: 2;
        -moz-column-gap: 15px;
        column-count: 2;
        column-gap: 15px;
        padding: 0;
    }

    .sub-menu .row .col-sm-4:nth-child(1) h3 {
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: rgb(251, 183, 84);
        border-top: 4px solid #fbb754;
    }

    .sub-menu .row .col-sm-4:nth-child(2) h3 {
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: rgb(47, 168, 237);
        border-top: 4px solid #2fa8ed;
    }

    .sub-menu .row .col-sm-4:nth-child(3) h3 {
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: rgb(8, 178, 127);
        border-top: 4px solid #08b27f;
    }

    .title {
        font-weight: 700;
        text-transform: uppercase;
        margin: 5px 0;
        font-size: 24px;
        font-family: "Roboto Slab";
    }

    .product-list .thumb {
        margin-top: 30px;
        height: 215px;
        overflow: hidden;
    }

    .product-list .thumbnail_container {
        padding-bottom: 100%;
        position: relative;
        width: 100%;
    }

    .product-list .description_container {
        padding-top: 0px;
        padding-top: 0;
        background-color: rgba(253,216,146,0);
        transition: all .3s;
        -webkit-transition: all .3s;
        position: absolute;
        width: calc(100% - 20px);
        height: 100%;
        left: 10px;
        top: -5px;
        top: calc(100% - 52px);
        padding: 0 10px 10px;
    }

    .product-list .thumb a {
        color: rgb(46, 45, 115);
    }

    .product-list .thumbnail {
        border: none;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .product-list .thumbnail img {
        bottom: 0px;
        left: 0px;
        margin: auto;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .products-categories {
        padding: 0px;
        margin: 16px 0px 20px 3px;
        padding: 0;
        margin: 16px 0 20px 3px;
    }

    .products-categories li {
        background-color: rgb(253, 216, 146);
        display: inline-block;
        width: 10%;
        text-align: center;
        padding: 10px 0px 5px;
        cursor: pointer;
        margin: 12px -2px 0px;
        border-right-width: 2px;
        border-right-style: solid;
        border-right-color: rgb(255, 255, 255);
        border-left-width: 2px;
        border-left-style: solid;
        border-left-color: rgb(255, 255, 255);
        box-shadow: rgb(255, 255, 255) 0px -3px 0px 0px, rgb(251, 183, 84) 0px -9px 0px 0px;
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        background-color: #fdd892;
        padding: 10px 0 5px;
        margin: 12px -2px 0;
        border-right: 2px solid #fff;
        border-left: 2px solid #fff;
        box-shadow: 0 -3px 0 0 #fff,0 -9px 0 0 #fbb754;
        transition: all .25s;
        -webkit-transition: all: .25s;
    }

    .products-categories li img {
        height: 55px;
        width: auto;
    }

    .products-categories li h3 {
        margin: 10px 0px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
        font-family: 'Fira Sans', sans-serif;
        margin: 10px 0;
        font-family: 'Fira Sans',sans-serif;
    }

    .products-categories li a {
        display: block;
        cursor: pointer;
    }

    .products-categories li.active {
        background-color: rgb(251, 183, 84);
        box-shadow: rgb(255, 255, 255) 0px -3px 0px 0px, rgb(251, 183, 84) 0px -9px 0px 0px;
        cursor: pointer;
    }

    .product-list .description_container {
        background-color: rgba(253, 216, 146, 0);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        position: absolute;
        width: calc(100% - 20px);
        height: 100%;
        left: 10px;
        top: calc(100% - 52px);
        padding: 0px 10px 10px;
        padding-top: 0;
        background-color: rgba(253,216,146,0);
        transition: all .3s;
        -webkit-transition: all .3s;
        top: -5px;
        padding: 0 10px 10px;
    }

    .description_container strong {
        font-family: 'Roboto Slab', serif;
        display: block;
        margin-bottom: 5px;
        font-family: 'Roboto Slab',serif;
    }

    .description_container p {
        font-size: 10px;
        margin-bottom: 0px;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .description_container .colors {
        padding: 0px;
        margin: 25px -1px -1px;
        list-style: none;
        padding: 0;
        margin: -1px;
        margin-top: 25px;
    }

    .product-ico {
        float: left;
        height: 70px;
        width: auto;
        margin-right: 10px;
    }

    .breadcrumbs {
        padding: 0px;
        margin: 0px;
        list-style: none;
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .breadcrumbs li {
        display: inline-block;
    }

    .breadcrumbs li::after {
        content: ' / ';
    }

    .breadcrumbs li:last-child::after {
        content: '';
    }

    .page-title {
        margin: 10px 0px;
        margin: 10px 0;
    }

    .title {
        margin: 5px 0px;
        font-size: 24px;
        font-family: 'Roboto Slab';
        margin: 5px 0;
        font-family: "Roboto Slab";
    }

    .title small {
        display: block;
        font-size: 10px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        margin-top: 3px;
        text-transform: uppercase;
        font-family: 'Fira Sans',sans-serif;
    }

    .icon {
        width: 22px;
        height: 22px;
        display: inline-block;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat no-repeat;
        background-repeat: no-repeat;
    }

    .icon-pendrive {
        background-image: url(https://cdn.memorabbit.pl/i/icon-pendrive.png);
    }

    .icon-boxes {
        background-image: url(https://cdn.memorabbit.pl/i/icon-boxes.png);
    }

    .icon-powerbank {
        background-image: url(https://cdn.memorabbit.pl/i/icon-powerbank.png);
    }

    .icon-electronics {
        background-image: url(https://cdn.memorabbit.pl/i/icon-electronics.png);
    }

    .thumbnail {
        border-color: transparent;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
    }

    .counter-desc {
        display: inline-block;
        height: 34px;
        width: 260px;
        position: relative;
        top: 6px;
        left: 10px;
    }

    #footer {
        border-top-style: none;
        margin-top: 30px;
        padding: 30px 0px;
        font-size: 12px;
        background-color: rgb(227, 227, 227);
        border-top: none;
        padding: 30px 0;
        background-color: #e3e3e3;
    }

    #footer .border-left {
        border-left-width: 3px;
        border-left-style: solid;
        border-left-color: rgba(147, 111, 233, 0.298039);
        min-height: 335px;
        border-left: 3px solid rgba(147,111,233,.3);
    }

    #footer a {
        color: rgb(46, 45, 115);
        color: #2e2d73;
    }

    #footer h3 {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    #footer .logo {
        margin: 0px;
        max-height: 75px;
        margin: 0;
    }

    #footer nav p {
        line-height: 30px;
        margin-bottom: 25px;
    }

    .counter-desc {
        width: 260px;
        position: relative;
        top: 6px;
        left: 10px;
    }

    .navbar-brand > img {
        position: relative;
        z-index: 9;
        height: 95px;
    }

    .arrow-next,
    .arrow-prev {
        width: 25px;
        height: 80px;
        background-color: rgb(133, 114, 180);
        color: rgb(255, 255, 255);
        line-height: 85px;
        text-align: center;
        font-size: 20px;
        position: fixed;
        display: block;
        right: 0px;
        top: calc(50% - 50px);
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
        z-index: 1000;
        background-color: #8572B4;
        color: #fff;
        right: 0;
        top: 48%;
        transition: opacity .25s;
        -webkit-transition: opacity .25s;
    }

    .arrow-next .fa {
        margin-right: -3px;
    }

    .arrow-prev {
        left: 0px;
        left: 0;
    }

    .form-control {
        box-shadow: none;
        border-color: rgb(61, 52, 128);
        font-size: 11px;
        color: rgb(61, 52, 128);
        height: 28px;
        padding: 6px 8px 4px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        border-color: #3d3480;
        color: #3d3480;
    }

    .pagination > li > a {
        color: rgb(61, 52, 128);
        text-decoration: none;
        background-color: rgb(253, 216, 146);
        border: none;
        margin: 1px;
    }

    .pagination > .active > a {
        color: rgb(61, 52, 128);
        background-color: rgb(251, 183, 84);
        border-color: rgb(251, 183, 84);
    }

    .thumb-icons {
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .search-form {
        width: 150px;
        position: relative;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: -15px;
    }

    .search-form input {
        padding-right: 25px;
    }

    .search-form::after {
        font-family: FontAwesome;
        content: ;
        position: absolute;
        color: rgb(147, 111, 233);
        right: 5px;
        top: 4px;
    }

    @media (min-width: 992px) {
        .products-categories li:first-child,
        .products-categories li:nth-child(11n) {
            border-left-style: none;
        }

        .products-categories li:last-child,
        .products-categories li:nth-child(10n) {
            border-right-style: none;
        }
    }

    @media (max-width: 991px) {
        .products-categories li {
            width: calc(100% / 6);
        }

        .products-categories li:first-child,
        .products-categories li:nth-child(7) {
            border-left-style: none;
        }

        .products-categories li:last-child,
        .products-categories li:nth-child(6) {
            border-right-style: none;
        }

        #menu.navbar-default .navbar-brand img {
            max-width: 145px;
            height: auto;
        }

        #footer h3 {
            font-size: 12px;
        }

        #footer {
            font-size: 10px;
        }
    }

    @media (max-width: 767px) {
        .product-ico {
            display: none;
        }

        .navbar-header,
        .product-list .description_container {
            position: relative;
        }

        #menu.navbar-default .navbar-brand img {
            max-width: 200px;
        }

        #menu.navbar-default .navbar-nav > li > a {
            margin-top: 0px;
        }

        h3 {
            font-weight: 700;
            font-size: 14px;
        }

        #footer .border-left {
            border: none;
        }

        .product-list .thumb {
            height: auto;
        }

        .products-categories li {
            width: calc(100% / 3);
        }

        .products-categories li:first-child,
        .products-categories li:nth-child(4) {
            border-left-style: none;
        }

        .products-categories li:last-child,
        .products-categories li:nth-child(3) {
            border-right-style: none;
        }

        .page-title {
            margin: 0px;
        }

        .title {
            font-size: 20px;
        }

        .title small {
            margin-top: 10px;
        }

        .description_container .colors {
            margin-top: 15px;
        }

        .sub-menu {
            margin-top: -10px;
            margin-bottom: 40px;
        }

        #footer {
            font-size: 12px;
        }
    }

    .mobile-search {
        height: 50px;
        padding: 0px 15px 30px;
        left: 0px;
        right: 0px;
        display: none;
        width: 100;
        padding: 0 15px 30px;
        left: 0;
        right: 0;
    }

    @media (min-width: 768px) {
        .mobile-search {
            display: none !important;
        }
    }

    .margin {
        margin-top: 30px;
    }

    .scroll-top {
        background-color: rgb(147, 111, 233);
        position: fixed;
        bottom: 30px;
        right: 30px;
        border: 3px solid rgb(46, 45, 115);
        height: 34px;
        width: 34px;
        line-height: 30px;
        text-align: center;
        font-size: 1.5em;
        z-index: 1000;
        cursor: pointer;
        display: none;
        background-color: #936fe9;
        border: 3px solid #2e2d73;
    }

    .scroll-top a {
        color: rgb(255, 255, 255);
    }

    .fa {
        margin-right: 6px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .fa-inline {
        color: rgb(147, 111, 233);
        color: #936fe9;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: rgb(147, 111, 233);
        background-color: #936fe9;
    }

    #menu.navbar-default .navbar-toggle {
        border: 3px solid rgb(147, 111, 233);
        margin-top: 45px;
        border: 3px solid #936fe9;
    }

    @media (max-width: 480px) {
        .navbar-default .navbar-brand {
            width: 100%;
        }

        #menu.navbar-default .navbar-toggle {
            margin-top: 0px;
        }
    }

    @media (max-width: 767px) {
        #menu.navbar {
            margin-bottom: 5px;
        }
    }
</style>
{% endblock %}
