<div class="product-list margin">




    {% for productRow in products|batch(6, 'Brak wyników') %}
    <div class="row">
        {% for product in productRow %}
            {% if product.name == true %}
                {% include 'product-page-single-item.phtml'
                with {'product': product} %}
            {% endif %}
            {% if  loop.index % 3 == 0 %}
            <div class="clearfix visible-xs display-block"></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}



</div>