{% extends "layout.phtml" %}
{% block title %}{{product.meta_title}}{% endblock %}
{% block description %}{{product.meta_description}}{% endblock %}
{% block ogtitle %}{{product.meta_title}}{% endblock %}
{% block ogdescription %}{{product.meta_description}}{% endblock %}
{% block ogurl %}{{currenturl}}{% endblock %}
{% block ogimage %}https://cdn.memorabbit.pl/p/496x395/{{product.photos.0.url}}{% endblock %}

{% block content %}
{{ include('breadcrumbsProductPage.phtml') }}
{{ include('arrows-product.phtml') }}

    <hr class="hr_sep1">
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "product",
  "brand": "Memorabbit",
  "logo": "https://cdn.memorabbit.pl/i/logo1.svg",
  "name": "{{product.name}}",
  "category": "{{category.name}}",
  "image": "https://cdn.memorabbit.pl/p/496x395/{{product.photos.0.url}}",
  "description": "{{product.description}}"
}
</script>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-8">
                    <div class="product-image">
                        <div class="product-gallery">
                            <a class="fancybox" rel="group" href="https://cdn.memorabbit.pl/p/496x395/{{product.photos.0.url}}"><img src="https://cdn.memorabbit.pl/p/496x395/{{product.photos.0.url}}" class="img-responsive active" image="0" alt="{{product.photos.0.alt}}" /></a>
                            {% if product.photos.1 == true %}
                            <a class="fancybox" rel="group" href="https://cdn.memorabbit.pl/p/496x395/{{product.photos.1.url}}"><img src="https://cdn.memorabbit.pl/p/496x395/{{product.photos.1.url}}" class="img-responsive" image="1" alt="{{product.photos.1.alt}}" /></a>
                            {% endif %}
                            {% if product.photos.2 == true %}
                            <a class="fancybox" rel="group" href="https://cdn.memorabbit.pl/p/496x395/{{product.photos.2.url}}"><img src="https://cdn.memorabbit.pl/p/496x395/{{product.photos.2.url}}" class="img-responsive" image="2" alt="{{product.photos.2.alt}}" /></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-xs-center text-sm-left ">
                            <h4>Dostępne kolory</h4>
                            {% for color in product.colors %}
                                <span data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="{{color.name}}" class="btn btn-color" style="background-color: {{color.hash}}; border-color: {{color.hash}}"></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row product-thumbnails product-gallery-controls">
                        <div class="col-xs-4 col-sm-12">
                            <img src="https://cdn.memorabbit.pl/p/116x108/{{product.photos.0.url}}" class="img-responsive active" show-image="0" />
                        </div>
                        {% if product.photos.1 == true %}
                        <div class="col-xs-4 col-sm-12">
                            <img src="https://cdn.memorabbit.pl/p/116x108/{{product.photos.1.url}}" class="img-responsive" show-image="1" />
                        </div>
                        {% endif %}
                        {% if product.photos.2 == true %}
                        <div class="col-xs-4 col-sm-12">
                            <img src="https://cdn.memorabbit.pl/p/116x108/{{product.photos.2.url}}" class="img-responsive" show-image="2" />
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row configurator2">
                <div class="col-sm-12 margin-xs">
                    <h4>Akcesoria</h4>

                    {% for accessory in product.accesssories %}

                    <div class="thumbnail_container accessories">
                        <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='https://cdn.memorabbit.pl/p/118x118/{{accessory.photos.0.url}}' />{{accessory.name}}">
                            <a href="
                    {{ path_for('product', { 'seourl': accessory.name_url }) }}
                    ">
                                <img src="https://cdn.memorabbit.pl/p/118x83/{{accessory.photos.0.url}}" alt="{{accessory.photos.0.alt}}">
                            </a>
                        </div>
                    </div>

                    {% endfor %}

                    <h4>Opakowania/etui</h4>
                    {% for accessory in product.boxes %}

                    <div class="thumbnail_container accessories">
                        <div class="thumbnail" data-toggle="tooltip" title="" data-original-title="<img src='https://cdn.memorabbit.pl/p/418x418/{{accessory.photos.0.url}}' />{{accessory.name}}">
                            <a href="{{ path_for('product', { 'seourl': accessory.name_url }) }}"><img src="https://cdn.memorabbit.pl/p/118x83/{{accessory.photos.0.url}}" alt="{{accessory.photos.0.alt}}"></a>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 product-details margin-xs">
            <h2>{{product.meta_title}}</h2>
            <br/>
            <div>
                <p>{{product.description}}</p>
            </div>
            <br/>

            <a href="mailto:biuro@memorabbit.pl?subject={{product.name}}" class="btn btn-info btn-lg btn-block"><span class="fa fa-envelope"></span> Napisz by zamówić!</a>
            <a href="tel:+48512029004" class="btn btn-danger btn-lg btn-block">Zadzwoń! <span class="fa fa-phone"></span> 512 02 90 04 </a>

            <br/>
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab222" aria-controls="tab222" role="tab" data-toggle="tab">Szczegóły</a></li>
                    <li role="presentation" ><a href="#tabTechnical" aria-controls="tab222" role="tab" data-toggle="tab">Szablony</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab222">
                        <table class="product-info">
                            <tr>
                                <td>
                                    <img src="https://cdn.memorabbit.pl/i/icon-dimensions.png" />
                                    <h4>WYMIAR<br /><small>{{product.length}} x {{product.width}} x {{product.height}} mm</small></h4>
                                </td>
                                <td>
                                    <img src="https://cdn.memorabbit.pl/i/icon-printing-size.png" />
                                    <h4>POLE ZADRUKU<br /><small>{{product.print_width}} x {{product.print_height}} mm</small></h4>
                                </td>
                                <td>
                                    {% if product.material.name %}
                                    <img src="https://cdn.memorabbit.pl/i/{{product.material.icon}}" />
                                    <h4>MATERIAŁ<br /><small>{{product.material.name}}</small></h4>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://cdn.memorabbit.pl/i/icon-delivery-time.png" />
                                    <h4>DOSTAWA <br/><small>14 dni roboczych</small></h4>
                                </td>
                                <td>
                                    <img src="https://cdn.memorabbit.pl/i/icon-printing-methods.png" />
                                    <h4>
                                        Dostępne znakowanie<br/>
                                        <small>
                                            {% if product.is_printing == 1 %}
                                            <a href="/blog/pendrive-nadrukiem-logo/">Nadruk</a><br/>
                                            {% endif %}
                                            {% if product.is_engraving == 1 %}
                                            <a href="/blog/pendrive-grawerem/">Grawer</a><br/>
                                            {% endif %}
                                            {% if product.is_debossed == 1 %}
                                            <a href="/blog/pendrive-z-tloczeniem/">Tłoczenie</a><br/>
                                            {% endif %}
                                            {% if product.is_doming == 1 %}
                                            <a href="/blog/pendrive-z-domingiem/">Doming</a><br/>
                                            {% endif %}

                                        </small>
                                    </h4>
                                </td>
                                <td>
                                    <img src="https://cdn.memorabbit.pl/i/icon-minimal-quantity.png" />
                                    <h4>Minimalne zamówienie<br/><small>Od {{product.moq}} sztuk</small></h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabTechnical">

                        {% for item in product.template %}
                            <p><a rel="nofollow" target="_blank" href="https://cdn.memorabbit.pl/file/{{item.url}}"><img src="https://cdn.memorabbit.pl/i/icon-template.png" alt="szablon produktu"/>Pobierz szablon</a></p>
                        {% endfor %}

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab333">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row configurator2">
        <div class="col-sm-6 margin-xs">
        </div>
        <div class="col-sm-5 col-sm-offset-1 margin-xs">
            <div class="text-muted small">

                <small><p>Przedstawione zdjęcia oraz dane techniczne mogą nie przedstawiać realnego wyglądu produktu. Dane PenDrive mogą zawierać uchybienia lub błędy - które nie mogą być podstawą do roszczeń. Kolorystyka i dane techniczne mogą ulegać zmianom np. w zależności od wyprodukowanej partii obudów. Prosimy o wysłanie zapytania do nas aby upewnić się w sprawie szczegółowych danych pamięci usb. </p></small>


                <p>
                    <!--
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-complience1.png" alt="" /></a>
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-complience2.png" alt="" /></a>
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-complience3.png" alt="" /></a>
                    <a href="#"><img src="https://cdn.memorabbit.pl/i/tmp-complience4.png" alt="" /></a>
                    -->
                </p>
            </div>
        </div>
    </div>
    <div class="text-center margin">
        {{product.additional|raw}}
       <!-- <a href="#" class="btn btn-purple btn-lg">Wyślij zapytanie</a>
        <a href="#" class="btn btn-purple">Dodaj do zamówienia<small>i kontynuuj zakupy</small></a> -->
    </div>


{% endblock %}

{% block criticalpath %}
<style>
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<style>
    .fa-fw{text-align:center;width:1.28571429em}
    .fa,.fa-stack{display:inline-block}
    .fa{font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;margin-right:6px}
    .btn{-webkit-user-select:none;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;user-select:none;border:1px solid transparent;border-radius:4px;text-transform:uppercase}
    html{-webkit-tap-highlight-color:transparent;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px}
    .fa{font-style:normal;font-variant:normal;font-weight:400;line-height:1;font-family:FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;font:normal normal normal 14px/1 FontAwesome;margin-right:6px}
    .form-control{font-style:italic;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    .fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%;line-height:.75em}
    .fa-stack,img{vertical-align:middle}
    .fa-fw{width:1.28571429em}
    hr,img{border:0;border:0}
    body{margin:0;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    .fa-stack{position:relative;width:2em;height:2em;line-height:2em}
    .fa-stack-1x{position:absolute;left:0;width:100%;text-align:center;line-height:inherit;line-height:inherit}
    .fa-search::before{content:}
    .fa-chevron-right::before{content:}
    .fa-chevron-up::before{content:}
    .fa-shopping-cart::before{content:}
    .fa-sign-in::before{content:}
    .fa-phone::before{content:}
    .fa-twitter::before{content:}
    .fa-facebook::before{content:}
    .fa-envelope::before{content:}
    .fa-circle::before{content:}
    .fa-instagram::before{content:}
    html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px}
    header,nav,section{display:block}
    a{background-color:transparent;text-decoration:none}
    hr{height:0;box-sizing:content-box;height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;margin-top:20px;margin-bottom:20px;border-top:1px solid #eee}
    button,input{margin:0;font-family:inherit;font-size:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;line-height:inherit;color:inherit}
    button{overflow:visible;text-transform:none;overflow:visible;-webkit-appearance:button;cursor:pointer;overflow:visible}
    .form-control{-webkit-appearance:none;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    table{border-spacing:0;border-collapse:collapse;border-spacing:0}
    td{padding:0}
    @media print {
        img,tr{page-break-inside:avoid}
        *{color:#000!important;text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;background-position:0 0!important;background-repeat:initial initial!important}
        a{text-decoration:underline}
        a[href]::after{content:' (',attr(href),')'}
        a[href^="#"]::after{content:''}
        img{max-width:100%!important;max-width:100%!important}
        h2,h3,p{orphans:3;widows:3}
        h2,h3{page-break-after:avoid}
        .navbar{display:none}
    }
    .btn,.form-control,.navbar-toggle{background-image:none}
    body{background-color:#fff;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    *{box-sizing:border-box;border-radius:0!important}
    html{font-size:10px;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
    body{line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    button,input{font-family:inherit;font-size:inherit;line-height:inherit}
    a{text-decoration:none;background-color:transparent}
    .img-responsive,.thumbnail > img{display:block;max-width:100%;height:auto}
    hr{margin-top:20px;margin-bottom:20px;border-top-width:1px;border-top-style:solid;border-top-color:#eee;height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border-top:1px solid #eee}
    .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0px 0px 0px 0px);border:0;padding:0;clip:rect(0,0,0,0);border:0}
    h1,h2,h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;text-transform:uppercase;font-family:'Roboto Slab',serif}
    h1 small,h4 small{font-weight:400;line-height:1;color:#777}
    h1,h2,h3{margin-top:20px;margin-bottom:10px}
    h1 small{font-size:65%;color:inherit;font-size:35%;text-transform:initial}
    h4{font-size:14px;line-height:1.33;margin:20px 0 10px}
    h4 small{font-size:75%}
    h1{font-size:36px;margin:20px 0}
    h2{font-size:30px;margin-top:10px;font-size:24px}
    h3{font-size:24px;font-size:16px}
    h4{font-size:18px;font-size:14px;line-height:1.33;margin:20px 0 10px}
    p{margin:0 0 10px;margin:0 0 10px}
    .small,small{font-size:85%}
    table{background-color:transparent;border-spacing:0;border-collapse:collapse}
    ol,ul{margin-top:0;margin-bottom:10px;margin-bottom:10px}
    @media (min-width: 768px) {
        .container{width:750px}
    }
    .container::after,.nav::after,.navbar-collapse::after,.navbar-header::after,.navbar::after,.row::after{clear:both}
    .container{margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px}
    @media (min-width: 992px) {
        .container{width:970px}
    }
    @media (min-width: 1200px) {
        .container{width:1170px}
    }
    .row{margin-right:-15px;margin-left:-15px}
    .col-md-6,.col-sm-12,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-8,.col-xs-12,.col-xs-4{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
    .col-xs-12,.col-xs-4{float:left}
    .col-xs-12{width:100%}
    .col-xs-4{width:33.33333333%}
    @media (min-width: 768px) {
        .col-sm-12,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-8{float:left}
        .col-sm-12{width:100%}
        .col-sm-8{width:66.66666667%}
        .col-sm-6{width:50%}
        .col-sm-5{width:41.66666667%}
        .col-sm-4{width:33.33333333%}
        .col-sm-offset-1{margin-left:8.33333333%}
    }
    @media (min-width: 992px) {
        .col-md-6{float:left;width:50%}
    }
    .form-control{line-height:1.42857143;display:block;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px;width:100%;background-color:#fff;border:1px solid #ccc;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;-webkit-box-shadow:rgba(0,0,0,0.0745098) 0 1px 1px inset;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;-webkit-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    .btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;margin-bottom:0;-ms-touch-action:manipulation;touch-action:manipulation;user-select:none;border-radius:4px;text-transform:uppercase}
    .collapse{display:none}
    .nav > li,.nav > li > a{display:block;position:relative}
    .nav{padding-left:0;margin-bottom:0;list-style:none;padding-left:0;margin-bottom:0}
    .nav > li > a{padding:10px 15px}
    .nav-tabs > li{float:left;margin-bottom:-1px}
    .nav-tabs > li > a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0}
    .nav-tabs > li.active > a{cursor:default}
    .tab-content > .tab-pane{display:none}
    .tab-content > .active{display:block}
    .navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}
    .navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;border-top-width:1px;border-top-style:solid;border-top-color:transparent;-webkit-box-shadow:rgba(255,255,255,0.0980392) 0 1px 0 inset;box-shadow:rgba(255,255,255,0.0980392) 0 1px 0 inset;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
    @media (min-width: 768px) {
        .navbar{border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}
        .navbar-header{float:left}
        .navbar-collapse{width:auto;border-top-width:0;-webkit-box-shadow:none;box-shadow:none}
        .navbar-collapse.collapse{padding-bottom:0;display:block!important;height:auto!important;overflow:visible!important}
    }
    .container > .navbar-collapse,.container > .navbar-header{margin-right:-15px;margin-left:-15px}
    .navbar-brand{float:left;padding:15px;font-size:18px;line-height:20px;height:auto}
    .navbar-brand > img{display:block}
    @media (min-width: 768px) {
        .container > .navbar-collapse,.container > .navbar-header{margin-right:0;margin-left:0}
        .navbar > .container .navbar-brand{margin-left:-15px}
    }
    .navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;border:1px solid transparent;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-radius:4px}
    .navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-top-left-radius:1px;border-top-right-radius:1px;border-bottom-right-radius:1px;border-bottom-left-radius:1px;border-radius:1px}
    .navbar-toggle .icon-bar + .icon-bar{margin-top:4px}
    .navbar-nav{margin:7.5px -15px}
    .navbar-nav > li > a{padding-top:10px;padding-bottom:10px;line-height:20px}
    @media (min-width: 768px) {
        .navbar-toggle{display:none}
        .navbar-nav{float:left;margin:0}
        .navbar-nav > li{float:left}
        .navbar-nav > li > a{padding-top:15px;padding-bottom:15px}
    }
    @media (min-width: 768px) {
        .navbar-right{margin-right:-15px;float:right!important}
    }
    .navbar-default{background-color:#f8f8f8;border-color:#e7e7e7;background-color:#f8f8f8;border-color:#e7e7e7}
    .navbar-default .navbar-brand{color:#777;color:#777}
    .navbar-default .navbar-nav > li > a{color:#777}
    .navbar-default .navbar-nav > .active > a{color:#555;background-color:#e7e7e7}
    .navbar-default .navbar-toggle{border-color:#ddd;border-color:#ddd}
    .navbar-default .navbar-collapse{border-color:#e7e7e7}
    .thumbnail{display:block;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out;border-color:transparent;margin-bottom:20px;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out;border-color:transparent;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;transition:border .2s ease-in-out;-webkit-transition:border .2s ease-in-out;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out;border-color:transparent}
    .thumbnail > img{margin-right:auto;margin-left:auto}
    .container::after,.container::before,.nav::after,.nav::before,.navbar-collapse::after,.navbar-collapse::before,.navbar-header::after,.navbar-header::before,.navbar::after,.navbar::before,.row::after,.row::before{display:table;content:' '}
    .pull-right{float:right!important;float:right!important}
    .pull-left{float:left!important;float:left!important}
    .visible-xs{display:none!important}
    @media (max-width: 767px) {
        .visible-xs{display:block!important}
        .hidden-xs{display:none!important}
    }
    .cookies-info p{vertical-align:middle;height:74px;display:table-cell}
    h1,h2,h3,h4{color:#2e2d73;text-transform:uppercase;font-family:'Roboto Slab',serif}
    a{color:#936fe9;background-color:transparent;text-decoration:none}
    .row{position:relative;margin-right:-15px;margin-left:-15px}
    *{border-top-left-radius:0!important;border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-bottom-left-radius:0!important;border-radius:0!important}
    body,html{overflow-x:hidden}
    body{color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizelegibility;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;text-rendering:optimizeLegibility}
    .btn,h1,h1 small,h2,h3,h4{font-weight:700}
    h1,h2,h3,h4{text-transform:uppercase;font-family:'Roboto Slab',serif;font-family:'Roboto Slab',serif}
    h1{margin:20px 0;margin:20px 0}
    h1 small{color:inherit;font-size:35%;text-transform:initial}
    h2{margin-top:10px;font-size:24px}
    #menu.navbar-default .navbar-big > li > a,.sub-menu h3,h4{font-family:'Roboto Slab',serif}
    h3{font-size:16px}
    h4{font-size:14px;line-height:1.33;margin:20px 0 10px;margin:20px 0 10px}
    #menu li > a > span,a,button,input{transition:all .2s;-webkit-transition:all .2s}
    .btn{text-transform:uppercase;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;user-select:none;border:1px solid transparent;border-radius:4px}
    .btn-default{background-color:#2e2d73;border-color:#2e2d73;color:#fff;line-height:18px;background-color:#2e2d73;border-color:#2e2d73;color:#fff}
    #menu.navbar-default,.nav > li > a{text-transform:uppercase}
    .btn-color{color:#fff;display:inline-block;height:26px;line-height:26px;padding:0;width:26px;margin:0 5px 5px 0;color:#fff;padding:0;margin:0 5px 5px 0}
    .img-responsive{margin:0 auto;margin:0 auto}
    .text-muted{color:#999;color:#999}
    .nav > li > a{color:#336}
    .navbar-brand{height:auto;float:left;padding:15px;font-size:18px;line-height:20px}
    @media (min-width: 768px) {
        .navbar-brand{padding:30px 15px 0}
    }
    #menu.navbar,.sub-menu{margin-bottom:30px}
    #menu.navbar-default{background-color:#fff;border:none;background-color:#fff}
    .navbar-header{position:absolute}
    #menu.navbar-default .navbar-nav > li > a{color:#2e2d73;cursor:pointer}
    #menu.navbar-default .navbar-nav > .active > a{background-color:inherit;color:#936fe9}
    #menu.navbar-default .navbar-nav > li{padding:5px}
    #menu.navbar-default .navbar-nav > li:last-of-type{padding-right:0}
    #menu.navbar-default .navbar-nav > li > a{font-weight:400;margin-top:5px;font-size:14px;padding:5px 2px;display:inline-block}
    @media (max-width: 767px) {
        #menu.navbar-default .navbar-nav > li{padding-left:15px}
    }
    #menu.navbar-default .navbar-big > li > a{font-weight:700}
    .sub-menu a{color:#2e2d73;color:#2e2d73}
    .sub-menu h3{font-weight:700;color:#2e2d73;font-size:14px;margin:0;padding:15px 0;color:#2e2d73;margin:0;padding:15px 0}
    .sub-menu ul{-webkit-column-count:2;-webkit-column-gap:15px;padding:0;list-style:none;line-height:24px;-moz-column-count:2;-moz-column-gap:15px;column-count:2;column-gap:15px;padding:0}
    .sub-menu .row .col-sm-4:nth-child(1) h3{border-top-width:4px;border-top-style:solid;border-top-color:#fbb754;border-top:4px solid #fbb754}
    .sub-menu .row .col-sm-4:nth-child(2) h3{border-top-width:4px;border-top-style:solid;border-top-color:#2fa8ed;border-top:4px solid #2fa8ed}
    .sub-menu .row .col-sm-4:nth-child(3) h3{border-top-width:4px;border-top-style:solid;border-top-color:#08b27f;border-top:4px solid #08b27f}
    .title{font-weight:700;text-transform:uppercase;margin:5px 0;font-size:24px;font-family:"Roboto Slab"}
    .product-ico{float:left;height:70px;width:auto;margin-right:10px}
    .breadcrumbs{padding:0;margin:0;list-style:none;font-size:12px;padding:0;margin:0}
    .breadcrumbs li{display:inline-block}
    .breadcrumbs li::after{content:' / '}
    .breadcrumbs li:last-child::after{content:''}
    .page-title{margin:10px 0;margin:10px 0}
    .title{margin:5px 0;font-size:24px;font-family:'Roboto Slab';margin:5px 0;font-family:"Roboto Slab"}
    .title small{display:block;font-size:10px;font-family:'Fira Sans',sans-serif;font-weight:400;margin-top:3px;text-transform:uppercase;font-family:'Fira Sans',sans-serif}
    .configurator2 .thumbnail_container{display:inline-block;position:relative;margin-right:15px}
    .configurator2 .thumbnail{position:absolute;width:100%;margin-bottom:0;overflow:hidden}
    .configurator2 .thumbnail img{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}
    .configurator2 img{max-height:400px;max-width:100%}
    .configurator2 .thumbnail_container{width:120px;height:85px}
    .configurator2 .thumbnail{height:85px}
    .thumbnail{border-color:transparent;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out}
    table.product-info{width:100%;margin:20px 0;margin:20px 0}
    table.product-info td{width:33%;padding:10px 0;text-align:center;padding:10px 0}
    table.product-info h4{margin:5px 0 10px;margin:5px 0 10px}
    .product-image{position:relative;text-align:left}
    .cookies-info{position:fixed;bottom:0;width:100%;background-color:#8572b4;color:#fff;z-index:9999;padding:15px 0;bottom:0;background-color:#8572B4;color:#fff;padding:15px 0}
    .cookies-info .btn-default{padding:10px 20px 8px;font-size:12px;line-height:12px;margin-left:20px;border:3px solid #fff;border:3px solid #fff}
    .cookies-info img{margin-right:20px}
    .cookies-info p{height:74px;display:table-cell}
    .text-xs-center{text-align:center}
    @media (min-width: 768px) {
        .text-sm-left{text-align:left}
    }
    .navbar-brand > img{position:relative;z-index:9;height:95px}
    .arrow-next{width:25px;height:80px;background-color:#8572b4;color:#fff;line-height:85px;text-align:center;font-size:20px;position:fixed;display:block;right:0;top:calc(50% - 50px);-webkit-transition:opacity .25s;transition:opacity .25s;z-index:1000}
    .arrow-next .fa{margin-right:-3px}
    .tab-content{padding:15px;border:3px solid #ffb550;position:relative;margin-bottom:15px}
    .form-control{box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;border-color:#3d3480;color:#3d3480}
    .nav-tabs{border-bottom-style:none;border-bottom:none}
    .tab-content{border:3px solid #ffb550;position:relative;margin-bottom:15px;padding:15px;border:3px solid #ffb550}
    .tab-content::after{content:'';width:39px;height:40px;right:-3px;bottom:-3px;background-image:url(https://cdn.memorabbit.pl/i/tab-corner.png);display:block;position:absolute;background-position:initial initial;background-repeat:initial initial}
    .nav-tabs > li.active > a{color:#3d3480;background-color:#fbb754;border:1px solid #fbb754}
    .nav-tabs > li{margin:0}
    .nav-tabs > li > a{background-color:#fdd892;margin-top:2px}
    .search-form{width:150px;position:relative;margin-top:10px;margin-left:25px;margin-right:-15px}
    .search-form input{padding-right:25px}
    .search-form::after{font-family:FontAwesome;content:;position:absolute;color:#936fe9;right:5px;top:4px}
    .product-gallery img{-webkit-transition:opacity 1s;transition:opacity 1s;opacity:0;height:0;overflow:hidden;height:0}
    .product-gallery img.active{-webkit-transition:opacity 1s;transition:opacity 1s;opacity:1;height:auto}
    .product-gallery-controls img{cursor:pointer}
    @media (max-width: 991px) {
        .cookies-info img{display:none}
        #menu.navbar-default .navbar-brand img{max-width:145px;height:auto}
        .cookies-info{padding:0;font-size:12px;line-height:21px}
    }
    @media (max-width: 767px) {
        .product-ico{display:none}
        .navbar-header{position:relative}
        #menu.navbar-default .navbar-brand img{max-width:200px}
        #menu.navbar-default .navbar-nav > li > a{margin-top:0}
        h3{font-weight:700;font-size:14px}
        .page-title{margin:0}
        .title{font-size:20px}
        .title small{margin-top:10px}
        .sub-menu{margin-top:-10px;margin-bottom:40px}
        .product-thumbnails{margin-top:30px;margin-bottom:30px}
        .cookies-info{padding-bottom:10px}
        .cookies-info .btn-default{width:100%;margin:10px 0;float:none!important}
        .mobile-icons{position:absolute;right:80px;top:54px}
        .mobile-icons a{width:35px;display:inline-block;text-align:center}
    }
    .mobile-search{height:50px;padding:0 15px 30px;left:0;right:0;display:none;width:100px;padding:0 15px 30px;left:0;right:0}
    .mobile-search .search-form{width:100%;margin:0;top:0;margin:0;top:0}
    @media (min-width: 768px) {
        .mobile-search{display:none!important}
    }
    @media (max-width: 767px) {
        .margin-xs{margin-top:30px}
    }
    .scroll-top{background-color:#936fe9;position:fixed;bottom:30px;right:30px;border:3px solid #2e2d73;height:34px;width:34px;line-height:30px;text-align:center;font-size:1.5em;z-index:1000;cursor:pointer;display:none;background-color:#936fe9;border:3px solid #2e2d73}
    .scroll-top a{color:#fff}
    .fa{margin-right:6px;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased}
    .fa-inline{color:#936fe9;color:#936fe9}
    .fa-inline.fa-stack{width:1em;height:1em;line-height:1em}
    .fa-inlinetext{color:#fff;font-size:10px;font-weight:700;color:#fff}
    .navbar-default .navbar-toggle .icon-bar{background-color:#936fe9;background-color:#936fe9}
    #menu.navbar-default .navbar-toggle{border:3px solid #936fe9;margin-top:45px;border:3px solid #936fe9}
    .mobile-icons{position:absolute;right:80px;top:54px}
    @media (max-width: 480px) {
        .navbar-default .navbar-brand{width:100%}
        #menu.navbar-default .navbar-toggle{margin-top:0}
        .mobile-icons{left:15px;top:104px}
    }
    @media (max-width: 767px) {
        #menu.navbar{margin-bottom:5px}
    }
</style>
{% endblock %}