<div class="product-list margin">
    <div class="row">
        {% if products.0 == true %}
            {% include 'product-page-single-item.phtml'
            with {'product': products.0} %}
        {% endif %}
        {% if products.1 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.1} %}
        {% endif %}
        <div class="clearfix visible-xs display-block"></div>
        {% if products.2 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.2} %}
        {% endif %}
        {% if products.3 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.3} %}
        {% endif %}
        <div class="clearfix visible-xs display-block"></div>
        {% if products.4 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.4} %}
        {% endif %}
        {% if products.5 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.5} %}
        {% endif %}
    </div>


    <div class="row">
        {% if products.6 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.6} %}
        {% endif %}
        {% if products.7 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.7} %}
        {% endif %}
        <div class="clearfix visible-xs display-block"></div>
        {% if products.8 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.8} %}
        {% endif %}

        {% if products.9 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.9} %}
        {% endif %}
        <div class="clearfix visible-xs display-block"></div>
        {% if products.10 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.10} %}
        {% endif %}
        {% if products.11 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.11} %}
        {% endif %}
    </div>



    <div class="row">
        {% if products.12 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.12} %}
        {% endif %}
        {% if products.13 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.13} %}
        {% endif %}
        <div class="clearfix visible-xs display-block"></div>
        {% if products.14 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.14} %}
        {% endif %}

        {% if products.15 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.15} %}
        {% endif %}
        <div class="clearfix visible-xs display-block"></div>
        {% if products.16 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.16} %}
        {% endif %}
        {% if products.17 == true %}
        {% include 'product-page-single-item.phtml'
        with {'product': products.17} %}
        {% endif %}
    </div>

    <div class="margin text-center">
        <ul class="pagination">
            {% if category == true %}
                {% if pagination.prev != 1 %}
                <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.prev}) }}">&lt;</a></li>
                {% else %}
                <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">&lt;</a></li>
                {%endif%}
            {% if (pagination.prev2 != pagination.page) and (pagination.prev2 != pagination.prev1) %}
                {% if pagination.prev2 != 1 %}
                <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.prev2}) }}">{{pagination.prev2}}</a></li>
                {% else %}
                <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.prev2}}</a></li>
                {%endif%}

            {% endif%}
            {% if pagination.prev1 != pagination.page %}

                {% if pagination.prev1 != 1 %}
                    <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.prev1}) }}">{{pagination.prev1}}</a></li>
                {% else %}
                    <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.prev1}}</a></li>
                {%endif%}
            {% endif%}
                <li class="active"><a href="">{{pagination.page}}</a></li>
            {% if pagination.next1 != pagination.page %}
                {% if pagination.next1 != 1 %}
                    <li class=""><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.next1}) }}">{{pagination.next1}}</a></li>
                {% else %}
                    <li class=""><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.next1}}</a></li>
                {%endif%}

            {% endif%}
            {% if (pagination.next2 != pagination.page) and (pagination.next2 != pagination.next1) %}
                {% if pagination.next2 != 1 %}
                    <li class=""><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.next2}) }}">{{pagination.next2}}</a></li>
                {% else %}
                    <li class=""><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.next2}}</a></li>
                {%endif%}

            {% endif%}
            {% if pagination.next != 1 %}
            <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.next}) }}">&gt;</a></li>
            {% else %}
            <li><a href="{{ path_for('category', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">&gt;</a></li>
            {%endif%}





            {% else %}



            {% if pagination.prev != 1 %}
            <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.prev}) }}">&lt;</a></li>
            {% else %}
            <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">&lt;</a></li>
            {%endif%}

            {% if (pagination.prev2 != pagination.page) and (pagination.prev2 != pagination.prev1) %}
                {% if pagination.prev2 != 1 %}
                    <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.prev2}) }}">{{pagination.prev2}}</a></li>
                {% else %}
                    <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.prev2}}</a></li>
                {%endif%}

            {% endif%}
            {% if pagination.prev1 != pagination.page %}
                {% if pagination.prev1 != 1 %}
                    <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.prev1}) }}">{{pagination.prev1}}</a></li>
                {% else %}
                    <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.prev1}}</a></li>
                {%endif%}
            {% endif%}
            <li class="active"><a href="">{{pagination.page}}</a></li>
            {% if pagination.next1 != pagination.page %}
                {% if pagination.next1 != 1 %}
                    <li class=""><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.next1}) }}">{{pagination.next1}}</a></li>
                {% else %}
                    <li class=""><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.next1}}</a></li>
                {%endif%}

            {% endif%}
            {% if (pagination.next2 != pagination.page) and (pagination.next2 != pagination.next1) %}
                {% if pagination.next2 != 1 %}
                    <li class=""><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.next2}) }}">{{pagination.next2}}</a></li>
                {% else %}
                    <li class=""><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">{{pagination.next2}}</a></li>
                {%endif%}

            {% endif%}

            {% if pagination.next != 1 %}
            <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category, 'page': pagination.next}) }}">&gt;</a></li>
            {% else %}
            <li><a href="{{ path_for('categoryGlobal', { 'import': pagination.import, 'parentCategoryUrl': pagination.parentCategory, 'categoryUrl': pagination.category}) }}">&gt;</a></li>
            {%endif%}


            {% endif%}



        </ul>
    </div>
    <div class="margin text-center">
        {% if pagination.page == 1 %}
        {% if category == true %}
        <span style="font-size: 10px;font-family: 'Fira Sans',sans-serif;">{{category.description|raw}}</span>
        {% elseif parentCategory == true %}
        <span style="font-size: 10px;font-family: 'Fira Sans',sans-serif;">{{parentCategory.description|raw}}</span>
        {% endif%}
        {% endif%}
    </div>
</div>