<div class="col-xs-6 col-sm-4 col-md-2 thumb">
    <a href="
    {% if import == "import" %}
    {{ path_for('product', { 'seourl': product.name_url }) }}
    {% else %}
        {%if externalConfig.showOnlyPhpPart == false %}
         /creator/step-2/{{product.warehouseProductId}}
        {% else %}
        #
        {% endif%}
    {% endif%}
">
        <div class="thumbnail_container">
            <div class="thumbnail">
                <img src="https://cdn.memorabbit.pl/p/165x101/{{product.photos.0.url}}" alt="{{product.photos.0.alt}}">
            </div>
        </div>
        <div class="description_container">
            <strong>{{product.name}}</strong>
            <p>{{product.meta_description|slice(0, 50)}}</p>
            <p>{{product.description|slice(0, 50)}}</p>
            <p>Wymiary: {{product.width}} x {{product.height}} x {{product.length}} mm</p>
            <br>



            <ul class="colors">
                {% for color in product.colors %}
                <li style="background: {{color.hash}}"></li>
                {% endfor %}
            </ul>

        </div>
    </a>
    <span class="thumb-icons">
    </span>

</div>