{% extends "layout.phtml" %}
{% block title %}{{category.name_title}} - {{parentCategory.name_title}}{% endblock %}
{% block description %}{{category.description}}{% endblock %}
{% block ogtitle %}{{category.name_title}}{% endblock %}
{% block ogurl %}{{currenturl}}{% endblock %}
{% block ogdescription %}{{category.description}}{% endblock %}
{% block content %}
    {{ include('breadcrumbs.phtml') }}
    {{ include('arrows-products.phtml') }}
    {{ include('warehouse-bar.phtml') }}
    {{ include('categories-nav-warehouse.phtml') }}
    {{ include('products.phtml') }}
{% endblock %}
{% block criticalpath %}
<style>
    .fa-fw{text-align:center;width:1.28571429em}
    .fa,.fa-stack{display:inline-block}
    .fa{font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;margin-right:6px}
    .btn{-webkit-user-select:none;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;user-select:none;border:1px solid transparent;border-radius:4px;text-transform:uppercase}
    html{-webkit-tap-highlight-color:transparent;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px}
    .fa{font-style:normal;font-variant:normal;font-weight:400;line-height:1;font-family:FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;font:normal normal normal 14px/1 FontAwesome;margin-right:6px}
    .form-control{font-style:italic;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    .fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%;line-height:.75em}
    .fa-stack,img{vertical-align:middle}
    .fa-fw{width:1.28571429em}
    img{border:0}
    body{margin:0;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    .fa-stack{position:relative;width:2em;height:2em;line-height:2em}
    .fa-stack-1x{position:absolute;left:0;width:100%;text-align:center;line-height:inherit;line-height:inherit}
    .fa-search::before{content:}
    .fa-chevron-left::before{content:}
    .fa-chevron-right::before{content:}
    .fa-plus-circle::before{content:}
    .fa-question-circle::before{content:}
    .fa-info-circle::before{content:}
    .fa-exclamation-circle::before{content:}
    .fa-chevron-up::before{content:}
    .fa-shopping-cart::before{content:}
    .fa-sign-in::before{content:}
    .fa-phone::before{content:}
    .fa-twitter::before{content:}
    .fa-facebook::before{content:}
    .fa-envelope::before{content:}
    .fa-circle::before{content:}
    .fa-instagram::before{content:}
    .fa-usb::before{content:}
    html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px}
    footer,header,nav,section{display:block}
    a{background-color:transparent;text-decoration:none}
    strong{font-weight:700}
    button,input{margin:0;font-family:inherit;font-size:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;line-height:inherit;color:inherit}
    button{overflow:visible;text-transform:none;overflow:visible;-webkit-appearance:button;cursor:pointer;overflow:visible}
    .form-control{-webkit-appearance:none;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    @media print {
        img{page-break-inside:avoid;max-width:100%!important}
        *{color:#000!important;text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;background-position:0 0!important;background-repeat:initial initial!important}
        a{text-decoration:underline}
        a[href]::after{content:' (',attr(href),')'}
        a[href^="#"]::after{content:''}
        img{max-width:100%!important;max-width:100%!important}
        h3,p{orphans:3;widows:3}
        h3{page-break-after:avoid}
        .navbar{display:none}
    }
    .btn,.form-control,.navbar-toggle{background-image:none}
    body{background-color:#fff;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    *{box-sizing:border-box;border-radius:0!important}
    html{font-size:10px;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
    body{line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizeLegibility}
    button,input{font-family:inherit;font-size:inherit;line-height:inherit}
    a{text-decoration:none;background-color:transparent}
    .img-responsive,.thumbnail > img{display:block;max-width:100%;height:auto}
    .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0px 0px 0px 0px);border:0;padding:0;clip:rect(0,0,0,0);border:0}
    h1,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
    h1 small{font-weight:400;line-height:1;color:#777;color:inherit;font-size:35%;text-transform:initial}
    h1,h3{margin-top:20px;margin-bottom:10px}
    h1 small{font-size:65%;color:inherit;font-size:35%;text-transform:initial}
    h1{font-size:36px;margin:20px 0}
    h3{font-size:24px;font-size:16px}
    p{margin:0 0 10px;margin:0 0 10px}
    small{font-size:85%}
    .text-center{text-align:center}
    ol,ul{margin-top:0;margin-bottom:10px;margin-bottom:10px}
    @media (min-width: 768px) {
        .container{width:750px}
    }
    .clearfix::after,.container::after,.nav::after,.navbar-collapse::after,.navbar-header::after,.navbar::after,.row::after{clear:both}
    .container{margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px}
    @media (min-width: 992px) {
        .container{width:970px}
    }
    @media (min-width: 1200px) {
        .container{width:1170px}
    }
    .row{margin-right:-15px;margin-left:-15px}
    .col-md-2,.col-md-5,.col-md-6,.col-md-7,.col-sm-4,.col-sm-8,.col-xs-12,.col-xs-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
    .col-xs-12,.col-xs-6{float:left}
    .col-xs-12{width:100%}
    .col-xs-6{width:50%}
    @media (min-width: 768px) {
        .col-sm-4,.col-sm-8{float:left}
        .col-sm-8{width:66.66666667%}
        .col-sm-4{width:33.33333333%}
    }
    @media (min-width: 992px) {
        .col-md-2,.col-md-5,.col-md-6,.col-md-7{float:left}
        .col-md-7{width:58.33333333%}
        .col-md-6{width:50%}
        .col-md-5{width:41.66666667%}
        .col-md-2{width:16.66666667%}
    }
    .form-control{line-height:1.42857143;display:block;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px;width:100%;background-color:#fff;border:1px solid #ccc;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;-webkit-box-shadow:rgba(0,0,0,0.0745098) 0 1px 1px inset;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;-webkit-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px}
    .btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;margin-bottom:0;-ms-touch-action:manipulation;touch-action:manipulation;user-select:none;border-radius:4px;text-transform:uppercase}
    .collapse{display:none}
    .nav > li,.nav > li > a{display:block;position:relative}
    .nav{padding-left:0;margin-bottom:0;list-style:none;padding-left:0;margin-bottom:0}
    .nav > li > a{padding:10px 15px}
    .navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}
    .navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;border-top-width:1px;border-top-style:solid;border-top-color:transparent;-webkit-box-shadow:rgba(255,255,255,0.0980392) 0 1px 0 inset;box-shadow:rgba(255,255,255,0.0980392) 0 1px 0 inset;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
    @media (min-width: 768px) {
        .navbar{border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}
        .navbar-header{float:left}
        .navbar-collapse{width:auto;border-top-width:0;-webkit-box-shadow:none;box-shadow:none}
        .navbar-collapse.collapse{padding-bottom:0;display:block!important;height:auto!important;overflow:visible!important}
    }
    .container > .navbar-collapse,.container > .navbar-header{margin-right:-15px;margin-left:-15px}
    .navbar-brand{float:left;padding:15px;font-size:18px;line-height:20px;height:auto}
    .navbar-brand > img{display:block}
    @media (min-width: 768px) {
        .container > .navbar-collapse,.container > .navbar-header{margin-right:0;margin-left:0}
        .navbar > .container .navbar-brand{margin-left:-15px}
    }
    .navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;border:1px solid transparent;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-radius:4px}
    .navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-top-left-radius:1px;border-top-right-radius:1px;border-bottom-right-radius:1px;border-bottom-left-radius:1px;border-radius:1px}
    .navbar-toggle .icon-bar + .icon-bar{margin-top:4px}
    .navbar-nav{margin:7.5px -15px}
    .navbar-nav > li > a{padding-top:10px;padding-bottom:10px;line-height:20px}
    @media (min-width: 768px) {
        .navbar-toggle{display:none}
        .navbar-nav{float:left;margin:0}
        .navbar-nav > li{float:left}
        .navbar-nav > li > a{padding-top:15px;padding-bottom:15px}
    }
    .pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}
    @media (min-width: 768px) {
        .navbar-right{margin-right:-15px;float:right!important}
    }
    .navbar-default{background-color:#f8f8f8;border-color:#e7e7e7;background-color:#f8f8f8;border-color:#e7e7e7}
    .navbar-default .navbar-brand{color:#777;color:#777}
    .navbar-default .navbar-nav > li > a{color:#777}
    .navbar-default .navbar-nav > .active > a{color:#555;background-color:#e7e7e7}
    .navbar-default .navbar-toggle{border-color:#ddd;border-color:#ddd}
    .navbar-default .navbar-collapse{border-color:#e7e7e7}
    .pagination{padding-left:0;margin:20px 0;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;padding-left:0;margin:20px 0;border-radius:4px}
    .pagination > li{display:inline}
    .pagination > li > a{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143}
    .pagination > li:first-child > a{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}
    .pagination > li:last-child > a{border-top-right-radius:4px;border-bottom-right-radius:4px}
    .pagination > .active > a{z-index:3;cursor:default}
    .thumbnail{display:block;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out;border-color:transparent;margin-bottom:20px;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out;border-color:transparent;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;transition:border .2s ease-in-out;-webkit-transition:border .2s ease-in-out;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out;border-color:transparent}
    .thumbnail > img{margin-right:auto;margin-left:auto}
    .clearfix::after,.clearfix::before,.container::after,.container::before,.nav::after,.nav::before,.navbar-collapse::after,.navbar-collapse::before,.navbar-header::after,.navbar-header::before,.navbar::after,.navbar::before,.row::after,.row::before{display:table;content:' '}
    .pull-right{float:right!important;float:right!important}
    .pull-left{float:left!important;float:left!important}
    .visible-xs{display:none!important}
    @media (max-width: 767px) {
        .visible-xs{display:block!important}
        .hidden-xs{display:none!important}
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .hidden-sm{display:none!important}
    }
    .cookies-info p,.icon{vertical-align:middle}
    .product-list img{max-height:100%;max-width:100%}
    h1,h3,strong{color:#2e2d73}
    a{color:#936fe9;background-color:transparent;text-decoration:none}
    .row{position:relative;margin-right:-15px;margin-left:-15px}
    *{border-top-left-radius:0!important;border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-bottom-left-radius:0!important;border-radius:0!important}
    body,html{overflow-x:hidden}
    body{color:#444;font-family:'Fira Sans',sans-serif;font-weight:400;font-size:14px;text-rendering:optimizelegibility;line-height:1.42857143;color:#444;font-family:'Fira Sans',sans-serif;text-rendering:optimizeLegibility}
    .btn,h1,h1 small,h3{font-weight:700}
    h1,h3{text-transform:uppercase;font-family:'Roboto Slab',serif}
    h1{margin:20px 0;margin:20px 0}
    h1 small{color:inherit;font-size:35%;text-transform:initial}
    #menu.navbar-default .navbar-big > li > a,.color2,.sub-menu h3{font-family:'Roboto Slab',serif}
    h3{font-size:16px}
    .color2{color:#936fe9;color:#936fe9}
    #menu li > a > span,a,button,input{transition:all .2s;-webkit-transition:all .2s}
    .btn{text-transform:uppercase;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;user-select:none;border:1px solid transparent;border-radius:4px}
    .btn-default{background-color:#2e2d73;border-color:#2e2d73;color:#fff;line-height:18px;background-color:#2e2d73;border-color:#2e2d73;color:#fff}
    #menu.navbar-default,.nav > li > a{text-transform:uppercase}
    .img-responsive{margin:0 auto;margin:0 auto}
    .nav > li > a{color:#336}
    .navbar-brand{height:auto;float:left;padding:15px;font-size:18px;line-height:20px}
    @media (min-width: 768px) {
        .navbar-brand{padding:30px 15px 0}
    }
    #menu.navbar,.sub-menu{margin-bottom:30px}
    #menu.navbar-default{background-color:#fff;border:none;background-color:#fff}
    .navbar-header{position:absolute}
    #menu.navbar-default .navbar-nav > li > a{color:#2e2d73;cursor:pointer}
    #menu.navbar-default .navbar-nav > .active > a{background-color:inherit;color:#936fe9}
    #menu.navbar-default .navbar-nav > li{padding:5px}
    #menu.navbar-default .navbar-nav > li:last-of-type{padding-right:0}
    #menu.navbar-default .navbar-nav > li > a{font-weight:400;margin-top:5px;font-size:14px;padding:5px 2px;display:inline-block}
    @media (max-width: 767px) {
        #menu.navbar-default .navbar-nav > li{padding-left:15px}
    }
    #menu.navbar-default .navbar-big > li > a{font-weight:700}
    .sub-menu a{color:#2e2d73;color:#2e2d73}
    .sub-menu h3{font-weight:700;color:#2e2d73;font-size:14px;margin:0;padding:15px 0;color:#2e2d73;margin:0;padding:15px 0}
    .sub-menu ul{-webkit-column-count:2;-webkit-column-gap:15px;padding:0;list-style:none;line-height:24px;-moz-column-count:2;-moz-column-gap:15px;column-count:2;column-gap:15px;padding:0}
    .sub-menu .row .col-sm-4:nth-child(1) h3{border-top-width:4px;border-top-style:solid;border-top-color:#fbb754;border-top:4px solid #fbb754}
    .sub-menu .row .col-sm-4:nth-child(2) h3{border-top-width:4px;border-top-style:solid;border-top-color:#2fa8ed;border-top:4px solid #2fa8ed}
    .sub-menu .row .col-sm-4:nth-child(3) h3{border-top-width:4px;border-top-style:solid;border-top-color:#08b27f;border-top:4px solid #08b27f}
    .title{font-weight:700;text-transform:uppercase;margin:5px 0;font-size:24px;font-family:"Roboto Slab"}
    .product-list .thumb{margin-top:30px;height:215px;overflow:hidden}
    .product-list .thumbnail_container{padding-bottom:100%;position:relative;width:100%}
    .product-list .description_container{padding-top:0;background-color:rgba(253,216,146,0);transition:all .3s;-webkit-transition:all .3s;position:absolute;width:calc(100% - 20px);height:100%;left:10px;top:-5px;top:calc(100% - 52px);padding:0 10px 10px}
    .product-list .thumb a{color:#2e2d73}
    .product-list .thumbnail{border:none;height:100%;position:absolute;width:100%}
    .product-list .thumbnail img{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0;bottom:0;left:0;right:0;top:0}
    .products-categories{padding:0;margin:16px 0 20px 3px;padding:0;margin:16px 0 20px 3px}
    .products-categories li{background-color:#fdd892;display:inline-block;width:10%;text-align:center;padding:10px 0 5px;cursor:pointer;margin:12px -2px 0;border-right-width:2px;border-right-style:solid;border-right-color:#fff;border-left-width:2px;border-left-style:solid;border-left-color:#fff;box-shadow:#fff 0 -3px 0 0px,#fbb754 0 -9px 0 0;transition:all .25s;-webkit-transition:all .25s;background-color:#fdd892;padding:10px 0 5px;margin:12px -2px 0;border-right:2px solid #fff;border-left:2px solid #fff;box-shadow:0 -3px 0 0 #fff,0 -9px 0 0 #fbb754;transition:all .25s;-webkit-transition:all: .25s}
    .products-categories li img{height:55px;width:auto}
    .products-categories li h3{margin:10px 0;white-space:nowrap;overflow:hidden;font-size:12px;font-family:'Fira Sans',sans-serif;margin:10px 0;font-family:'Fira Sans',sans-serif}
    .products-categories li a{display:block;cursor:pointer}
    .products-categories li.active{background-color:#fbb754;box-shadow:#fff 0 -3px 0 0px,#fbb754 0 -9px 0 0;cursor:pointer}
    .product-list .description_container{background-color:rgba(253,216,146,0);-webkit-transition:all .3s;transition:all .3s;position:absolute;width:calc(100% - 20px);height:100%;left:10px;top:calc(100% - 52px);padding:0 10px 10px;padding-top:0;background-color:rgba(253,216,146,0);transition:all .3s;-webkit-transition:all .3s;top:-5px;padding:0 10px 10px}
    .description_container strong{font-family:'Roboto Slab',serif;display:block;margin-bottom:5px;font-family:'Roboto Slab',serif}
    .description_container p{font-size:10px;margin-bottom:0;text-transform:uppercase;margin-bottom:0}
    .description_container .colors{padding:0;margin:25px -1px -1px;list-style:none;padding:0;margin:-1px;margin-top:25px}
    .description_container .colors li{width:12px;height:12px;display:block;float:left;margin:2px}
    .product-ico{float:left;height:70px;width:auto;margin-right:10px}
    .breadcrumbs{padding:0;margin:0;list-style:none;font-size:12px;padding:0;margin:0}
    .breadcrumbs li{display:inline-block}
    .breadcrumbs li::after{content:' / '}
    .breadcrumbs li:last-child::after{content:''}
    .page-title{margin:10px 0;margin:10px 0}
    .title{margin:5px 0;font-size:24px;font-family:'Roboto Slab';margin:5px 0;font-family:"Roboto Slab"}
    .title small{display:block;font-size:10px;font-family:'Fira Sans',sans-serif;font-weight:400;margin-top:3px;text-transform:uppercase;font-family:'Fira Sans',sans-serif}
    .icon{width:22px;height:22px;display:inline-block;background-size:contain;position:relative;background-repeat:no-repeat no-repeat;background-repeat:no-repeat}
    .icon-pendrive{background-image:url(https://cdn.memorabbit.pl/i/icon-pendrive.png)}
    .icon-powerbank{background-image:url(https://cdn.memorabbit.pl/i/icon-powerbank.png)}
    .icon-electronics{background-image:url(https://cdn.memorabbit.pl/i/icon-electronics.png)}
    .thumbnail{border-color:transparent;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out}
    .counter span,.counter-desc{display:inline-block;height:34px}
    #footer{border-top-style:none;margin-top:30px;padding:30px 0;font-size:12px;background-color:#e3e3e3;border-top:none;padding:30px 0;background-color:#e3e3e3}
    #footer .border-left{border-left-width:3px;border-left-style:solid;border-left-color:rgba(147,111,233,0.298039);min-height:335px;border-left:3px solid rgba(147,111,233,.3)}
    #footer h3{margin-bottom:20px;text-transform:uppercase}
    #footer .logo{margin:0;max-height:75px;margin:0}
    #footer nav p{line-height:30px;margin-bottom:25px}
    .counter{display:inline-block;margin-bottom:60px}
    .counter span{width:22px;background-color:#936fe9;box-shadow:#b39af0 0 17px 0 inset;font-size:24px;line-height:38px;color:#fff;text-align:center;font-weight:400;background-color:#936fe9;box-shadow:inset 0 17px 0 #b39af0;color:#fff}
    .counter-desc{width:260px;position:relative;top:6px;left:10px}
    .cookies-info{position:fixed;bottom:0;width:100%;background-color:#8572b4;color:#fff;z-index:9999;padding:15px 0;bottom:0;background-color:#8572B4;color:#fff;padding:15px 0}
    .cookies-info .btn-default{padding:10px 20px 8px;font-size:12px;line-height:12px;margin-left:20px;border:3px solid #fff;border:3px solid #fff}
    .cookies-info img{margin-right:20px}
    .cookies-info p{height:74px;display:table-cell}
    .navbar-brand > img{position:relative;z-index:9;height:95px}
    .arrow-next,.arrow-prev{width:25px;height:80px;background-color:#8572b4;color:#fff;line-height:85px;text-align:center;font-size:20px;position:fixed;display:block;right:0;top:calc(50% - 50px);-webkit-transition:opacity .25s;transition:opacity .25s;z-index:1000;background-color:#8572B4;color:#fff;right:0;top:48%;transition:opacity .25s;-webkit-transition:opacity .25s}
    .arrow-next .fa{margin-right:-3px}
    .arrow-prev{left:0;left:0}
    .form-control{box-shadow:none;border-color:#3d3480;font-size:11px;color:#3d3480;height:28px;padding:6px 8px 4px;width:100%;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;border-color:#3d3480;color:#3d3480}
    .pagination > li > a{color:#3d3480;text-decoration:none;background-color:#fdd892;border:none;margin:1px}
    .pagination > .active > a{color:#3d3480;background-color:#fbb754;border-color:#fbb754}
    .thumb-icons{position:absolute;right:15px;top:10px}
    .search-form{width:150px;position:relative;margin-top:10px;margin-left:25px;margin-right:-15px}
    .search-form input{padding-right:25px}
    .search-form::after{font-family:FontAwesome;content:;position:absolute;color:#936fe9;right:5px;top:4px}
    @media (min-width: 992px) {
        .products-categories li:first-child{border-left-style:none}
        .products-categories li:last-child{border-right-style:none}
    }
    @media (max-width: 991px) {
        .cookies-info img{display:none}
        .products-categories li{width:calc(100% / 6)}
        .products-categories li:first-child{border-left-style:none}
        .products-categories li:last-child{border-right-style:none}
        #menu.navbar-default .navbar-brand img{max-width:145px;height:auto}
        #footer h3{font-size:12px}
        #footer{font-size:10px}
        .cookies-info{padding:0;font-size:12px;line-height:21px}
    }
    @media (max-width: 767px) {
        .product-ico{display:none}
        .navbar-header,.product-list .description_container{position:relative}
        #menu.navbar-default .navbar-brand img{max-width:200px}
        #menu.navbar-default .navbar-nav > li > a{margin-top:0}
        h3{font-weight:700;font-size:14px}
        #footer .border-left{border:none}
        .counter{margin-bottom:40px}
        .product-list .thumb{height:auto}
        .products-categories li{width:calc(100% / 3)}
        .products-categories li:first-child{border-left-style:none}
        .products-categories li:last-child{border-right-style:none}
        .page-title{margin:0}
        .title{font-size:20px}
        .title small{margin-top:10px}
        .description_container .colors{margin-top:15px}
        .sub-menu{margin-top:-10px;margin-bottom:40px}
        .cookies-info{padding-bottom:10px}
        .cookies-info .btn-default{width:100%;margin:10px 0;float:none!important}
        #footer{font-size:12px}
        .mobile-icons{position:absolute;right:80px;top:54px}
        .mobile-icons a{width:35px;display:inline-block;text-align:center}
    }
    .mobile-search{height:50px;padding:0 15px 30px;left:0;right:0;display:none;width:100px;padding:0 15px 30px;left:0;right:0}
    .mobile-search .search-form{width:100%;margin:0;top:0;margin:0;top:0}
    @media (min-width: 768px) {
        .mobile-search{display:none!important}
    }
    .margin{margin-top:30px}
    .scroll-top{background-color:#936fe9;position:fixed;bottom:30px;right:30px;border:3px solid #2e2d73;height:34px;width:34px;line-height:30px;text-align:center;font-size:1.5em;z-index:1000;cursor:pointer;display:none;background-color:#936fe9;border:3px solid #2e2d73}
    .scroll-top a{color:#fff}
    .fa{margin-right:6px;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased}
    .fa-inline{color:#936fe9;color:#936fe9}
    .fa-inline.fa-stack{width:1em;height:1em;line-height:1em}
    .fa-inlinetext{color:#fff;font-size:10px;font-weight:700;color:#fff}
    .navbar-default .navbar-toggle .icon-bar{background-color:#936fe9;background-color:#936fe9}
    #menu.navbar-default .navbar-toggle{border:3px solid #936fe9;margin-top:45px;border:3px solid #936fe9}
    .mobile-icons{position:absolute;right:80px;top:54px}
    @media (max-width: 480px) {
        .navbar-default .navbar-brand{width:100%}
        #menu.navbar-default .navbar-toggle{margin-top:0}
        .mobile-icons{left:15px;top:104px}
    }
    @media (max-width: 767px) {
        #menu.navbar{margin-bottom:5px}
    }
</style>
{% endblock %}
