<p></p>
<h2>Korzyści z posiadania konta</h2><br>
<p>Co zyskuje zostając partnerem memorabbit?</p>
<ul class="fa-ul">
    <li><span class="fa-li fa fa-clock-o"></span> długie terminy płatności</li>
    <li><span class="fa-li fa fa-comment"></span> doradztwo i wsparcie</li>
    <li><span class="fa-li fa fa-dollar"></span> najniższe ceny</li>
    <li><span class="fa-li fa fa-truck"></span> krótkie terminy dostawy</li>
    <li><span class="fa-li fa fa-envira"></span> wspieramy zrównoważony rozwój</li>
</ul>
<p><a class="btn btn-default" href="#"><span class="fa fa-users"></span> Więcej o Programie Partnerskim</a></p>