<div class="product-list margin">
    <h2>Najczęściej kupowane</h2>
    <hr class="hr_sep">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 thumb">
            <a href="#">
                <div class="thumbnail_container">
                    <div class="thumbnail">
                        <img src="./images/tmp-pendrive1.jpg" alt="Product">
                    </div>
                </div>
                <div class="description_container">
                    <strong>X-123/64</strong>
                    <p>Różnorodność kolorów</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <br>
                    <div class="row text-center no-margin">
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico1.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico2.png" data-container="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico3.png" data-container="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                    </div>

                    <ul class="colors">
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                    </ul>
                </div>
            </a>
            <span class="thumb-icons">
					<span class="fa fa-exclamation fa-inline fa-lg" data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Promocja" data-original-title="" title=""></span>
					<a href="#"><span class="fa fa-plus fa-inline fa-lg" data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Dodaj do koszyka" data-original-title="" title=""></span></a>
				</span>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 thumb">
            <a href="#">
                <div class="thumbnail_container">
                    <div class="thumbnail">
                        <img src="./images/tmp-pendrive2.jpg" alt="Product">
                    </div>
                </div>
                <div class="description_container">
                    <strong>X-123/64</strong>
                    <p>Różnorodność kolorów</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <br>
                    <div class="row text-center no-margin">
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico1.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico2.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">

                        </div>
                    </div>

                    <ul class="colors">
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                    </ul>
                </div>
            </a>
            <span class="thumb-icons">
					<span class="fa fa-clock-o fa-inline fa-lg" data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Brak w magazynie" data-original-title="" title=""></span>
				</span>
        </div>
        <div class="clearfix visible-xs display-block"></div>
        <div class="col-xs-6 col-sm-4 col-md-2 thumb">
            <a href="#">
                <div class="thumbnail_container">
                    <div class="thumbnail">
                        <img src="./images/tmp-pendrive1.jpg" alt="Product">
                    </div>
                </div>
                <div class="description_container">
                    <strong>X-123/64</strong>
                    <p>Różnorodność kolorów</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <br>
                    <div class="row text-center no-margin">
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico1.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">

                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico3.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                    </div>

                    <ul class="colors">
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                    </ul>
                </div>
            </a>
            <span class="thumb-icons">
					<a href="#"><span class="fa fa-plus fa-inline fa-lg" data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Dodaj do koszyka" data-original-title="" title=""></span></a>
				</span>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2 thumb">
            <a href="#">
                <div class="thumbnail_container">
                    <div class="thumbnail">
                        <img src="./images/tmp-pendrive2.jpg" alt="Product">
                    </div>
                </div>
                <div class="description_container">
                    <strong>X-123/64</strong>
                    <p>Różnorodność kolorów</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <br>
                    <div class="row text-center no-margin">
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico1.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico2.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico3.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                    </div>

                    <ul class="colors">
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                    </ul>
                </div>
            </a>
            <span class="thumb-icons">
					<a href="#"><span class="fa fa-plus fa-inline fa-lg" data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Dodaj do koszyka" data-original-title="" title=""></span></a>
				</span>
        </div>
        <div class="clearfix visible-xs display-block"></div>
        <div class="col-xs-6 col-sm-4 col-md-2 thumb">
            <a href="#">
                <div class="thumbnail_container">
                    <div class="thumbnail">
                        <img src="./images/tmp-pendrive1.jpg" alt="Product">
                    </div>
                </div>
                <div class="description_container">
                    <strong>X-123/64</strong>
                    <p>Różnorodność kolorów</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <br>
                    <div class="row text-center no-margin">
                        <div class="col-xs-4">

                        </div>
                        <div class="col-xs-4">

                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico3.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                    </div>

                    <ul class="colors">
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                    </ul>
                </div>
            </a>
            <span class="thumb-icons">
					<a href="#"><span class="fa fa-plus fa-inline fa-lg" data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Dodaj do koszyka" data-original-title="" title=""></span></a>
				</span>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 thumb">
            <a href="#">
                <div class="thumbnail_container">
                    <div class="thumbnail">
                        <img src="./images/tmp-pendrive2.jpg" alt="Product">
                    </div>
                </div>
                <div class="description_container">
                    <strong>X-123/64</strong>
                    <p>Różnorodność kolorów</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <br>
                    <div class="row text-center no-margin">
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico1.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">
                            <img src="./images/tmp-product-ico2.png" data-contaier="body" data-toggle="popover" data-placement="bottom" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Lorem ipsum dolor">
                        </div>
                        <div class="col-xs-4">

                        </div>
                    </div>

                    <ul class="colors">
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                        <li style="background: #cd3348"></li>
                        <li style="background: #f46df6"></li>
                        <li style="background: #3350cd"></li>
                    </ul>
                </div>
            </a>
            <span class="thumb-icons">
					<a href="#"><span class="fa fa-plus fa-inline fa-lg" data-contaier="body" data-toggle="popover" data-placement="bottom" data-content="Dodaj do koszyka" data-original-title="" title=""></span></a>
				</span>
        </div>
    </div>
</div>